#<u><b>Montaje de Drive

In [150]:
import pandas as pd
import numpy as np
#import geopandas as gp

#<u><b>Lectura de Datos

##<b><font color='darkred'>Datos Vivienda</font>

In [151]:
dataviv = pd.read_spss('../input/enemdu/201512_EnemduBDD_vivivendahogar.SAV')

In [152]:
dataviv["ciudad"] = dataviv["ciudad"].astype(int)

In [153]:
dataviv.head(3)

,area,ciudad,zona,sector,panelm,vivienda,hogar,vi01,vi02,vi03a,...,eq1802,eq1901,eq1902,vi20,vi21,vi22,vi23,id_sector,plan_muestreo,fexp
0,1.0,10150,001,003,Panel A2,Vivienda Uno,Hogar Uno,"Lastrado, calle de tierra",Departamento,"Asbesto, eternit",...,NaN,No,NaN,Si,La conexión es por CABLE y mientras utiliza SI...,Computadora de escritorio,NaN,1.015000e+10,1013,64.249774
1,1.0,10150,001,003,Panel A2,Vivienda Dos,Hogar Uno,"Lastrado, calle de tierra",Casa o villa,Teja,...,1.0,No,NaN,Si,A través de su línea telefónica y mientras uti...,Computadora de escritorio,NaN,1.015000e+10,1013,64.249774
2,1.0,10150,001,003,Panel A2,Vivienda Tres,Hogar Uno,"Lastrado, calle de tierra",Casa o villa,"Asbesto, eternit",...,1.0,No,NaN,Si,A través de su línea telefónica y mientras uti...,Computadora de escritorio,NaN,1.015000e+10,1013,64.249774

In [154]:
#dataviv.columns

In [155]:
dataviv['idh'] = dataviv.ciudad.astype(str).str.zfill(6) + dataviv.zona.astype(str) + dataviv.sector.astype(str) + dataviv.panelm.astype(str) + dataviv.vivienda.astype(str) + dataviv.hogar.astype(str)

In [156]:
dataviv.idh.head(2)

0    010150001003Panel A2Vivienda UnoHogar Uno
1    010150001003Panel A2Vivienda DosHogar Uno
Name: idh, dtype: object

##<b><font color='darkred'>Datos personas

In [157]:
dataper = pd.read_spss('../input/enemdu/201512_EnemduBDD_15anios.sav')

#dataper = pd.read_spss('enemdu/201512_EnemduBDD_15anios.sav')

In [158]:
dataper["ciudad"] = dataper["ciudad"].astype(int)

In [159]:
dataper.head()

,area,ciudad,zona,sector,panelm,vivienda,hogar,p01,p02,p03,...,nc,desem,desemab,desemoc,desem1,desem2,pein,id_sector,plan_muestreo,fexp
0,1.0,10150,009,004,Panel B2,Vivienda Uno,Hogar Uno,Persona 3,Hombre,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.015001e+10,1012,141.065750
1,1.0,10150,056,005,Panel A2,Vivienda Tres,Hogar Uno,Persona 1,Hombre,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Población Económicamente Inactiva,1.015006e+10,1012,65.976281
2,1.0,70150,005,001,Panel B2,Vivienda Dos,Hogar Dos,Persona 1,Hombre,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.015001e+10,1072,123.512430
3,1.0,70150,043,004,Panel B2,Vivienda Uno,Hogar Uno,Persona 1,Hombre,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.015004e+10,1071,96.697327
4,1.0,80150,012,003,Panel A2,Vivienda Uno,Hogar Uno,Persona 1,Hombre,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.015001e+10,1081,89.319663

In [160]:
#dataper["fexp"] = dataper["fexp"].str.replace(",",".").astype(float)

In [161]:
dataper["fexp"].sum()

16404530.613148494

In [162]:
dataper.columns

Index(['area', 'ciudad', 'zona', 'sector', 'panelm', 'vivienda', 'hogar',
       'p01', 'p02', 'p03',
       ...
       'nc', 'desem', 'desemab', 'desemoc', 'desem1', 'desem2', 'pein',
       'id_sector', 'plan_muestreo', 'fexp'],
      dtype='object', length=313)

In [163]:
dataper['idp'] = dataper.ciudad.astype(str).str.zfill(6) + dataper.zona.astype(str) + dataper.sector.astype(str) + dataper.panelm.astype(str) + dataper.vivienda.astype(str) + dataper.hogar.astype(str)+ dataper.p01.astype(str)
dataper['idh'] = dataper.ciudad.astype(str).str.zfill(6) + dataper.zona.astype(str) + dataper.sector.astype(str) + dataper.panelm.astype(str) + dataper.vivienda.astype(str) + dataper.hogar.astype(str)

In [164]:
dataper.idp.head(2)

0    010150009004Panel B2Vivienda UnoHogar UnoPerso...
1    010150056005Panel A2Vivienda TresHogar UnoPers...
Name: idp, dtype: object

##<b><font color='darkred'>MISSING DATA

###<font color='darkblue'>*Exploracion*

In [165]:
dataper.shape[0]

112821

In [166]:
dataviv.shape[0]

30033

In [167]:
#list(dataper.columns)

In [168]:
dataviv.columns

Index(['area', 'ciudad', 'zona', 'sector', 'panelm', 'vivienda', 'hogar',
       'vi01', 'vi02', 'vi03a', 'vi03b', 'vi04a', 'vi04b', 'vi05a', 'vi05b',
       'vi06', 'vi07', 'vi07a', 'vi08', 'vi09', 'vi10', 'vi10a', 'vi11',
       'vi12', 'vi13', 'vi14', 'vi15', 'vi16', 'vi17a', 'vi17b', 'vi18a',
       'vi18b', 'eq0101', 'eq0102', 'eq0201', 'eq0202', 'eq0301', 'eq0302',
       'eq0401', 'eq0402', 'eq0501', 'eq0502', 'eq0601', 'eq0602', 'eq0701',
       'eq0702', 'eq0801', 'eq0802', 'eq0901', 'eq0902', 'eq1001', 'eq1002',
       'eq1101', 'eq1102', 'eq1201', 'eq1202', 'eq1301', 'eq1302', 'eq1401',
       'eq1402', 'eq1501', 'eq1502', 'eq1601', 'eq1602', 'eq1701', 'eq1702',
       'eq1801', 'eq1802', 'eq1901', 'eq1902', 'vi20', 'vi21', 'vi22', 'vi23',
       'id_sector', 'plan_muestreo', 'fexp', 'idh'],
      dtype='object')

In [169]:
dataper.p10a = dataper.p10a.cat.add_categories("Jardín de infantes").cat.reorder_categories(\
                        ["Ninguno",
                         "Centro de alfabetización",
                         "Jardín de infantes",
                         "Primaria",
                         "Educación Básica",
                         "Secundaria",
                         "Educación  Media",
                         "Superior no universitario",
                         "Superior Universitario",
                         "Post-grado"], ordered=True)

In [170]:
dataper.p10a.cat.categories

Index(['Ninguno', 'Centro de alfabetización', 'Jardín de infantes', 'Primaria',
       'Educación Básica', 'Secundaria', 'Educación  Media',
       'Superior no universitario', 'Superior Universitario', 'Post-grado'],
      dtype='object')

In [171]:
dataper.p07 = dataper.p07.cat.reorder_categories(["Si","No"], ordered=True)

In [172]:
dataper.p07.cat.categories

Index(['Si', 'No'], dtype='object')

In [173]:
dataper.p20 = dataper.p20.cat.reorder_categories(["Si","No"], ordered=True)

In [174]:
dataper.p20.cat.categories

Index(['Si', 'No'], dtype='object')

In [175]:
dataper.p22 = dataper.p22.cat.reorder_categories(["Si","No"], ordered=True)

In [176]:
dataper.p22.cat.categories

Index(['Si', 'No'], dtype='object')

In [177]:
dataper.p72a = dataper.p72a.cat.reorder_categories(["Si","No"], ordered=True)

In [178]:
dataper.p72a.cat.categories

Index(['Si', 'No'], dtype='object')

In [179]:
dataper.p75 = dataper.p75.cat.reorder_categories(["Si","No"], ordered=True)

In [180]:
dataper.p75.cat.categories

Index(['Si', 'No'], dtype='object')

In [181]:
dataper.p77 = dataper.p77.cat.reorder_categories(["Si","No"], ordered=True)

In [182]:
dataper.p77.cat.categories

Index(['Si', 'No'], dtype='object')

In [183]:
dataper.p09 = dataper.p09.cat.reorder_categories(\
                                   ['Edad',
                                     'Terminó sus estudios',
                                     'Falta recursos económicos',
                                     'Fracaso escolar',
                                     'Por trabajo',
                                     'Por asistir nivelación SENESCYT',
                                     'Enfermedad o discapacidad',
                                     'Quehaceres del hogar',
                                     'Familia no permite',
                                     'No hay establecimientos educativos',
                                     'No está interesado',
                                     'Por embarazo',
                                     'Por falta de cupos',
                                     'Otra'], ordered=True)

In [184]:
dataper.p21 = dataper.p21.cat.reorder_categories(\
                                                 ['Atender negocio propio',
                                                 'Fabricar algún producto',
                                                 'Hacer algo en casa por un ingreso',
                                                 'Brindar algún servicio',
                                                 'Ayudar en algún negocio familiar',
                                                 'Ayudar en el trabajo de algún familiar',
                                                 'Aprendiz remunerado',
                                                 'Labores agrícolas, cuidado animales',
                                                 'Estudiante que realizó algún trabajo',
                                                 'Trabajar para otra familia',
                                                 'Otra actividad por un ingreso',
                                                 'No realizó ninguna actividad'], ordered=True)

In [185]:
dataper.p21.cat.categories

Index(['Atender negocio propio', 'Fabricar algún producto',
       'Hacer algo en casa por un ingreso', 'Brindar algún servicio',
       'Ayudar en algún negocio familiar',
       'Ayudar en el trabajo de algún familiar', 'Aprendiz remunerado',
       'Labores agrícolas, cuidado animales',
       'Estudiante que realizó algún trabajo', 'Trabajar para otra familia',
       'Otra actividad por un ingreso', 'No realizó ninguna actividad'],
      dtype='object')

In [186]:
dataper.CONDACTN = dataper.CONDACTN.cat.reorder_categories(\
                                                           ['Menores de 15 años',
                                                             'Empleo adecuado',
                                                             'Subempleo por insuficiencia de tiempo de trabajo',
                                                             'Subempleo por insuficiencia de ingresos',
                                                             'Otro empleo Inadecuado',
                                                             'Empleo no remunerado',
                                                             'Empleo no clasificado',
                                                             'Desempleo abierto',
                                                             'Desempleo oculto', 
                                                             'Población Económicamente Inactiva'], ordered=True)

In [187]:
dataper.CONDACTN.cat.categories

Index(['Menores de 15 años', 'Empleo adecuado',
       'Subempleo por insuficiencia de tiempo de trabajo',
       'Subempleo por insuficiencia de ingresos', 'Otro empleo Inadecuado',
       'Empleo no remunerado', 'Empleo no clasificado', 'Desempleo abierto',
       'Desempleo oculto', 'Población Económicamente Inactiva'],
      dtype='object')

In [188]:
dataper.p05a = dataper.p05a.cat.reorder_categories(\
                                                   ['IESS, seguro general',
                                                     'IESS, seguro general voluntario',
                                                     'IESS, seguro  campesino',
                                                     'ISSFA, ISSPOL',
                                                     'Seguro privado con hospitalización',
                                                     'Seguro privado sin hospitalización',
                                                     'AUS',
                                                     'Seguros Municipales',
                                                     'Seguro Ministerio Salud Pública',
                                                     'Ninguno'], ordered=True)

In [189]:
dataper.p05a.cat.categories

Index(['IESS, seguro general', 'IESS, seguro general voluntario',
       'IESS, seguro  campesino', 'ISSFA, ISSPOL',
       'Seguro privado con hospitalización',
       'Seguro privado sin hospitalización', 'AUS', 'Seguros Municipales',
       'Seguro Ministerio Salud Pública', 'Ninguno'],
      dtype='object')

In [190]:
dataper.p05b = dataper.p05b.cat.add_categories('IESS, seguro  campesino').cat.reorder_categories(\
                                                                                                   ['IESS, seguro general',
                                                                                                     'IESS, seguro general voluntario',
                                                                                                     'IESS, seguro  campesino',
                                                                                                     'ISSFA, ISSPOL',
                                                                                                     'Seguro privado con hospitalización',
                                                                                                     'Seguro privado sin hospitalización',
                                                                                                     'AUS',
                                                                                                     'Seguros Municipales',
                                                                                                     'Seguro Ministerio Salud Pública',
                                                                                                     'Ninguno'], ordered=True)

In [191]:
dataper.p05b.cat.categories

Index(['IESS, seguro general', 'IESS, seguro general voluntario',
       'IESS, seguro  campesino', 'ISSFA, ISSPOL',
       'Seguro privado con hospitalización',
       'Seguro privado sin hospitalización', 'AUS', 'Seguros Municipales',
       'Seguro Ministerio Salud Pública', 'Ninguno'],
      dtype='object')

In [192]:
dataviv.vi10 =  dataviv.vi10.cat.reorder_categories(\
                                                    ['Red pública',
                                                     'Pila o llave pública',
                                                     'Otra fuente por tubería',
                                                     'Carro repartidor, triciclo',
                                                     'Pozo',
                                                     'Río, vertiente, acequia',
                                                     'Otro, cuál'], ordered=True)

In [193]:
dataviv.vi10.cat.categories

Index(['Red pública', 'Pila o llave pública', 'Otra fuente por tubería',
       'Carro repartidor, triciclo', 'Pozo', 'Río, vertiente, acequia',
       'Otro, cuál'],
      dtype='object')

In [194]:
dataviv.vi03a = dataviv.vi03a.cat.reorder_categories(\
                                                     ['Hormigón, losa, cemento',
                                                     'Asbesto, eternit',
                                                     'Zinc',
                                                     'Teja',
                                                     'Palma, paja, hoja',
                                                     'Otro, cuál'], ordered=True)

In [195]:
dataviv.vi03a.cat.categories

Index(['Hormigón, losa, cemento', 'Asbesto, eternit', 'Zinc', 'Teja',
       'Palma, paja, hoja', 'Otro, cuál'],
      dtype='object')

In [196]:
dataviv.vi03b = dataviv.vi03b.cat.reorder_categories(\
                                     ['Bueno',
                                     'Regular',
                                     'Malo',], ordered=True)

In [197]:
dataviv.vi03b.cat.categories

Index(['Bueno', 'Regular', 'Malo'], dtype='object')

In [198]:
dataviv.vi05a.cat.categories

Index(['Adobe, tapia', 'Asbesto, cemento', 'Bahareque', 'Caña o estera',
       'Hormigón, bloque, ladrillo', 'Madera', 'Otra, cuál'],
      dtype='object')

In [199]:
dataviv.vi05a = dataviv.vi05a.cat.reorder_categories(\
                                                     ['Hormigón, bloque, ladrillo',
                                                     'Asbesto, cemento',
                                                     'Adobe, tapia',
                                                     'Madera',
                                                     'Bahareque',
                                                     'Caña o estera',
                                                     'Otra, cuál'], ordered=True)

In [200]:
dataviv.vi05a.cat.categories

Index(['Hormigón, bloque, ladrillo', 'Asbesto, cemento', 'Adobe, tapia',
       'Madera', 'Bahareque', 'Caña o estera', 'Otra, cuál'],
      dtype='object')

In [201]:
dataviv.vi05b = dataviv.vi05b.cat.reorder_categories(\
                                     ['Bueno',
                                     'Regular',
                                     'Malo'], ordered=True)

In [202]:
dataviv.vi05b.cat.categories

Index(['Bueno', 'Regular', 'Malo'], dtype='object')

In [203]:
dataviv.vi04a.cat.categories

Index(['Caña', 'Cemento, ladrillo', 'Cerámica, baldosa, vinyl',
       'Duela, parquet, tabloncillo', 'Mármol, marmetón', 'Otro, cuál',
       'Tabla, tablón no tratado', 'Tierra'],
      dtype='object')

In [204]:
dataviv.vi04a = dataviv.vi04a.cat.reorder_categories(\
                                                     ['Duela, parquet, tabloncillo',
                                                     'Cerámica, baldosa, vinyl',
                                                     'Mármol, marmetón',
                                                     'Cemento, ladrillo',
                                                     'Tabla, tablón no tratado',
                                                     'Caña',
                                                     'Tierra',
                                                     'Otro, cuál'], ordered=True)

In [205]:
dataviv.vi04a.cat.categories

Index(['Duela, parquet, tabloncillo', 'Cerámica, baldosa, vinyl',
       'Mármol, marmetón', 'Cemento, ladrillo', 'Tabla, tablón no tratado',
       'Caña', 'Tierra', 'Otro, cuál'],
      dtype='object')

In [206]:
dataviv.vi04b = dataviv.vi04b.cat.reorder_categories(\
                                     ['Bueno',
                                     'Regular',
                                     'Malo'], ordered=True)

In [207]:
dataviv.vi04b.cat.categories

Index(['Bueno', 'Regular', 'Malo'], dtype='object')

In [208]:
dataviv.vi09.cat.categories

Index(['Excusado y alcantarillado', 'Excusado y pozo ciego',
       'Excusado y pozo séptico', 'Letrina', 'No tiene'],
      dtype='object')

In [209]:
dataviv.vi09 = dataviv.vi09.cat.reorder_categories(\
                                                   ['Excusado y alcantarillado',
                                                    'Excusado y pozo séptico',
                                                    'Excusado y pozo ciego',
                                                    'Letrina',
                                                    'No tiene'], ordered=True)

In [210]:
dataviv.vi09.cat.categories

Index(['Excusado y alcantarillado', 'Excusado y pozo séptico',
       'Excusado y pozo ciego', 'Letrina', 'No tiene'],
      dtype='object')

In [211]:
dataviv.vi13 = dataviv.vi13.cat.reorder_categories(\
                                                   ['Contratan el servicio',
                                                     'Servicio municipal',
                                                     'Botan a la calle, quebrada, río',
                                                     'La queman, entierran',
                                                     'Otra, cuál'], ordered=True)

In [212]:
dataviv.vi13.cat.categories

Index(['Contratan el servicio', 'Servicio municipal',
       'Botan a la calle, quebrada, río', 'La queman, entierran',
       'Otra, cuál'],
      dtype='object')

### <font color='darkblue'>*Dimension 1 EDUCACION*

#### 1. Inasistencia a educación básica y bachillerato

##### a) Asistencia a educación básica

In [213]:
#gen asist_basica=1 if inrange(p03,5,14) & (p07==1) &
#( inlist(p10a,1,3)
#| (p10a==4 & inrange(p10b,0,6))
#| (p10a==5 & inrange(p10b,0,9))
#| (p10a==6 & inrange(p10b,0,2)));
dataper.loc[((dataper.p03.cat.codes.isin(range(5,15))) &(dataper.p07.cat.codes==0) &\
((dataper.p10a.cat.codes.isin([0,1,2])) \
|((dataper.p10a.cat.codes==3)&(dataper.p10b.isin(range(0,7)))) \
|((dataper.p10a.cat.codes==4)&(dataper.p10b.isin(range(0,10)))) \
|((dataper.p10a.cat.codes==5)&(dataper.p10b.isin(range(0,3)))) \
)),"asist_basica"]=1

In [214]:
#replace asist_basica=0 if inrange(p03,5,14) & asist_basica!=1
#label var asist_basica "Asistencia a educación básica"
dataper.loc[((dataper.p03.cat.codes.isin(range(5,15))) & (dataper["asist_basica"]!=1)),"asist_basica"]=0

##### b) Asistencia a educación bachillerato

In [215]:
#gen asist_bach=1 if inrange(p03,15,17) & (p07==1) &
#( (p10a==5 & p10b==10)
#| (p10a==7 & inrange(p10b,0,2))
#| (p10a==6 & inrange(p10b,3,5)));
dataper.loc[(dataper.p03.cat.codes.isin(range(15,18)))&(dataper.p07.cat.codes==0) & \
(((dataper.p10a.cat.codes==4)&(dataper.p10b==10)) \
|((dataper.p10a.cat.codes==6)&(dataper.p10b.isin(range(0,3)))) \
|((dataper.p10a.cat.codes==5)&(dataper.p10b.isin(range(3,6))))),"asist_bach"] = 1

In [216]:
#replace asist_bach=0 if inrange(p03,15,17) & asist_bach!=1
#label var asist_bach "Asistencia a educación bachillerato"
dataper.loc[(dataper.p03.cat.codes.isin(range(15,18))) & (dataper["asist_bach"]!=1),"asist_bach"] = 0

##### c) Cálculo de la privación

In [217]:
#gen dim1_ind1=1 if inrange(p03,5,17) & p10a<8
#replace dim1_ind1=0 if inrange(p03,5,17) & (asist_basica==1 | asist_bach==1 | p10a>=8)
#label var dim1_ind1 "Inasistencia a educación básica y bachillerato"
dataper.loc[(dataper.p03.cat.codes.isin(range(5,18)))&(dataper.p10a.cat.codes<7),"dim1_ind1"]=1
dataper.loc[(dataper.p03.cat.codes.isin(range(5,18)))&((dataper["asist_basica"]==1)|(dataper["asist_bach"]==1)|(dataper.p10a.cat.codes>=7)),"dim1_ind1"]=0

In [218]:
dataper.dim1_ind1.value_counts()

0.0    28588
1.0     3183
Name: dim1_ind1, dtype: int64

#### 2. No acceso a educación superior por razónes económicas

In [219]:
#gen dim1_ind2=0 if inrange(p03,18,29) & (p07>=1 & p07<=2) &
#( (p10a==7 & p10b>=3)
#| (p10a==6 & p10b>=6))
#| inrange(p10a,8,10);
dataper.loc[(dataper.p03.cat.codes.isin(range(18,30))) & (dataper.p07.cat.codes.isin([0,1])) & \
(((dataper.p10a.cat.codes==6)&(dataper.p10b>=3)) \
|((dataper.p10a.cat.codes==5)&(dataper.p10b>=6))) \
|(dataper.p10a.cat.codes.isin(range(7,10))),"dim1_ind2"] = 0

In [220]:
#replace dim1_ind2=1 if inrange(p03,18,29) & p07==2 &
#( (p10a==7 & p10b>=3)
#| (p10a==6 & p10b>=6)
#| (inrange(p10a,8,9)))
#& p09==3 ;
dataper.loc[(dataper.p03.cat.codes.isin(range(18,30))) & (dataper.p07.cat.codes==1) & \
(((dataper.p10a.cat.codes==6)&(dataper.p10b>=3)) \
|((dataper.p10a.cat.codes==5)&(dataper.p10b>=6)) \
|(dataper.p10a.cat.codes.isin(range(7,9)))) & (dataper.p09.cat.codes==2),"dim1_ind2"] = 1

In [221]:
#replace dim1_ind2=. if p03<18 | p03>29
#label var dim1_ind2 "Barrera económica al acceso a educación superior"
dataper.loc[(dataper.p03.cat.codes<18) | (dataper.p03.cat.codes>29),"dim1_ind2"] = np.nan

In [222]:
dataper.dim1_ind2.value_counts()

0.0    10165
1.0     2582
Name: dim1_ind2, dtype: int64

#### 3. Logro educativo incompleto

In [223]:
#gen escol=.
#replace escol=0 if p10a==1 & p10b==0
#replace escol=0 if p10a==2 & p10b==0
#replace escol=2 if p10a==2 & p10b==1
#replace escol=4 if p10a==2 & p10b==2
#replace escol=6 if p10a==2 & p10b==3
#replace escol=7 if p10a==2 & p10b==4
#replace escol=1 if p10a==3
#replace escol=1+ p10b if p10a==4
#replace escol= p10b if p10a==5
#replace escol=7+ p10b if p10a==6
#replace escol=10+p10b if p10a==7
#replace escol=13+p10b if p10a==8
#replace escol=13+p10b if p10a==9
#replace escol=18+p10b if p10a==10
#replace escol=0 if escol==.
dataper.loc[((dataper.p10a.cat.codes==0)&(dataper.p10b==0))|((dataper.p10a.cat.codes==1)&(dataper.p10b==0)),"escol"] = 0
dataper.loc[((dataper.p10a.cat.codes==1)&(dataper.p10b==1)),"escol"] = 2
dataper.loc[((dataper.p10a.cat.codes==1)&(dataper.p10b==2)),"escol"] = 4
dataper.loc[((dataper.p10a.cat.codes==1)&(dataper.p10b==3)),"escol"] = 6
dataper.loc[((dataper.p10a.cat.codes==1)&(dataper.p10b==4)),"escol"] = 7
dataper.loc[(dataper.p10a.cat.codes==2),"escol"] = 1
dataper.loc[(dataper.p10a.cat.codes==3),"escol"] = 1+dataper.p10b
dataper.loc[(dataper.p10a.cat.codes==4),"escol"] = dataper.p10b
dataper.loc[(dataper.p10a.cat.codes==5),"escol"] = 7+dataper.p10b
dataper.loc[(dataper.p10a.cat.codes==6),"escol"] = 10+dataper.p10b
dataper.loc[(dataper.p10a.cat.codes==7),"escol"] = 13+dataper.p10b
dataper.loc[(dataper.p10a.cat.codes==8),"escol"] = 13+dataper.p10b
dataper.loc[(dataper.p10a.cat.codes==9),"escol"] = 18+dataper.p10b
dataper.loc[dataper.escol.isnull(),"escol"] = 0

In [224]:
#gen dim1_ind3=0 if inrange(p03,18,64) & ((escol<10 & p07==1) | (escol>=10))
#replace dim1_ind3=1 if inrange(p03,18,64) & escol<10 & p07==2
#label var dim1_ind3 "Logro educativo incompleto"
dataper.loc[(dataper.p03.cat.codes.isin(range(18,65)))&(((dataper.escol<10)&(dataper.p07.cat.codes==0))|(dataper.escol>=10)),"dim1_ind3"]=0
dataper.loc[(dataper.p03.cat.codes.isin(range(18,65)))&(dataper.escol<10)&(dataper.p07.cat.codes==1),"dim1_ind3"]=1

In [225]:
dataper.dim1_ind3.value_counts()

0.0    37443
1.0    24503
Name: dim1_ind3, dtype: int64

### <font color='darkblue'>*Dimension 2 TRABAJO Y SEGURIDAD SOCIAL*

#### 1. Empleo infantil y adolescente

In [226]:
#gen horas =0 if empleo ==1
#replace horas =p24 if pea ==1 & p20 ==1
#replace horas =p24 if pea ==1 & p20 ==2 & p21 <=11
#recode p51* (999 = .)
#egen hh = rowtotal (p51*), missing
#replace hh = . if hh <0
#replace horas = hh if pea ==1 & p20 ==2 & p21 ==12 & p22==1
dataper.loc[dataper.empleo.cat.codes==0,"horas"]=0
dataper.loc[(dataper.pea.cat.codes == 0)&(dataper.p20.cat.codes==0),"horas"] = dataper.p24.cat.codes
dataper.loc[(dataper.pea.cat.codes == 0)&(dataper.p20.cat.codes==1)&(dataper.p21.cat.codes<=10),"horas"] = dataper.p24.cat.codes
dataper["hh"] = dataper.p51a.cat.codes+dataper.p51b.cat.codes+dataper.p51c.cat.codes
dataper.loc[dataper["hh"]<0,"hh"] = np.nan
dataper.loc[(dataper.pea.cat.codes == 0)&(dataper.p20.cat.codes==1)&(dataper.p21.cat.codes==11)&(dataper.p22.cat.codes==0),"horas"] = dataper["hh"]

In [227]:
#gen dim2_ind1=(p20==1 | inrange(p21,1,11) | p22==1) & inrange(p03, 5,14)
#replace dim2_ind1=1 if inrange(condactn,2,6) & inrange(p03,15,17)
#replace dim2_ind1=1 if condactn ==1 & inrange(p03,15,17) & (p07==2 | horas>30)
#replace dim2_ind1=. if p03>=18
dataper["dim2_ind1"]=(((dataper.p20.cat.codes==0)|(dataper.p21.cat.codes.isin(range(0,11)))|(dataper.p22.cat.codes==0)) \
                      &(dataper.p03.cat.codes.isin(range(5,15)))).astype("int")
dataper.loc[dataper.CONDACTN.cat.codes.isin(range(2,7))&(dataper.p03.cat.codes.isin(range(15,18))),"dim2_ind1"]=1
dataper.loc[(dataper.CONDACTN.cat.codes==1)&(dataper.p03.cat.codes.isin(range(15,18)))&((dataper.p07.cat.codes==1)|(dataper.horas>30)),"dim2_ind1"]=1
dataper.loc[dataper.p03.cat.codes>=18,"dim2_ind1"] = np.nan

In [228]:
dataper["dim2_ind1"].value_counts()

0.0    39330
1.0     2698
Name: dim2_ind1, dtype: int64

#### 2. Desempleo o empleo inadecuado

In [229]:
#gen dim2_ind2= inrange(condactn,2,8) & inrange(p03,18,98)
#replace dim2_ind2=. if p03<18 | p03==99 | ///
#(p20==. & p21==. & p22==. & p32==. & p34==. & p35==.)
#label var dim2_ind2 "Desempleo o empleo inadecuado"
dataper["dim2_ind2"] = (dataper.CONDACTN.cat.codes.isin(range(2,9))&(dataper.p03.cat.codes.isin(range(18,99)))).astype("int")
dataper.loc[(dataper.p03.cat.codes<18)|(dataper.p03.cat.codes==99)| \
(dataper.p20.isnull()&dataper.p21.isnull()&dataper.p22.isnull()&dataper.p32.isnull()&dataper.p34.isnull()&dataper.p35.isnull()),"dim2_ind2"]=np.nan

In [230]:
dataper["dim2_ind2"].value_counts()

0.0    41620
1.0    29162
Name: dim2_ind2, dtype: int64

#### 3. No contribución al sistema de pensiones

In [231]:
#gen dim2_ind3 = (empleo==1 & inrange(p05a,5,10) & inrange(p05b,5,10))
#replace dim2_ind3 = 0 if empleo ==1 & p03>=65 & p72a==1
dataper["dim2_ind3"]=((dataper.empleo.cat.codes==0)&(dataper.p05a.cat.codes.isin(range(4,10)))&(dataper.p05b.cat.codes.isin(range(4,10)))).astype("int")
dataper.loc[(dataper.empleo.cat.codes==0)&(dataper.p03.cat.codes>=65)&(dataper.p72a.cat.codes==0),"dim2_ind3"] = 0

In [232]:
#replace dim2_ind3 = 1 if (desem ==1 | pei==1) & p03>=65 & p72a==2
#replace dim2_ind3 = 0 if p03>=65 & p72a== 2 & p75==1
#replace dim2_ind3 = 0 if pet ==1 & p77==1
#replace dim2_ind3 = . if pet ==0 | inrange(p03,0,14)
#label var dim2_ind3 "No contribución al sistema de pensiones"
dataper.loc[((dataper.desem.cat.codes==0)|(dataper.pei.cat.codes==0))&(dataper.p03.cat.codes>=65)&(dataper.p72a.cat.codes==1),"dim2_ind3"] = 1
dataper.loc[(dataper.p03.cat.codes>=65)&(dataper.p72a.cat.codes==1)&(dataper.p75.cat.codes==0),"dim2_ind3"]=0
dataper.loc[(dataper.pet.cat.codes==0)&(dataper.p77.cat.codes==0),"dim2_ind3"]=0
dataper.loc[((dataper.pet.cat.codes==-1) | (dataper.p03.cat.codes.isin(range(0,15)))),"dim2_ind3"]=np.nan

In [233]:
dataper["dim2_ind3"].value_counts()

0.0    49429
1.0    28688
Name: dim2_ind3, dtype: int64

### <font color='darkblue'>*Dimension 3 SALUD, AGUA Y ALIMENTACIÓN*

#### 1. Pobreza extrema por ingresos

In [234]:
#gen dim3_ind1 = epobre
#label var dim3_ind1 "Pobreza extrema por ingresos"
dataper["dim3_ind1"] = (dataper.epobreza.cat.codes==0).astype("int")
dataper.loc[(dataper.epobreza.cat.codes==-1),"dim3_ind1"]=np.nan

In [235]:
dataper["dim3_ind1"].value_counts()

0.0    98602
1.0    13092
Name: dim3_ind1, dtype: int64

#### 2. Sin servicio de agua por red pública

In [236]:
#gen dim3_ind2=(vi10!=1)
#replace dim3_ind2=. if vi10 ==.
#label var dim3_ind2 "Sin servicio de agua por red pública"
dataviv["dim3_ind2"] = (dataviv.vi10.cat.codes!=0).astype(int)
dataviv.loc[dataviv.vi10.isnull(),"dim3_ind2"] = np.nan
dataper = dataper.merge(dataviv[["idh","dim3_ind2"]],on="idh")

In [237]:
dataper["dim3_ind2"].value_counts()

0.0    83159
1.0    29662
Name: dim3_ind2, dtype: int64

### <font color='darkblue'>*DIMENSION 4: HABITAT, VIVIENDA Y AMBIENTE SANO*

#### 1. Hacinamiento

In [238]:
#recode vi07 (0=1)
#egen hsize=count(p01), by(id_hogar)
#gen dim4_ind1=1 if (hsize/vi07)> 3
#replace dim4_ind1=0 if (hsize/vi07)<=3
#label var dim4_ind1 "Hacinamiento"
dataviv["vi07"]=dataviv.vi07.cat.codes.mask((dataviv.vi07.cat.codes == 0),1)
dataper["hsize"] = dataper.groupby("idh")["p01"].transform("size")
dataper = dataper.merge(dataviv[["idh","vi07"]],on="idh")
dataper["hsizevi07"] = (dataper["hsize"] / dataper["vi07"])
dataper["dim4_ind1"] = 0
dataper.loc[(dataper["hsizevi07"]>3),"dim4_ind1"] = 1

In [239]:
dataper["dim4_ind1"].value_counts()

0    93534
1    19287
Name: dim4_ind1, dtype: int64

#### 2. Deficit Habitacional

In [240]:
#((vi03a==1 & inrange(vi03b,1,2))
#|(vi03b==1 & inrange(vi03a,2,4)))
dataviv.loc[((dataviv.vi03a.cat.codes == 0)&(dataviv.vi03b.cat.codes.isin([0,1]))) | \
((dataviv.vi03b.cat.codes==0)&(dataviv.vi03a.cat.codes.isin(range(1,4)))),"techo"] = 1

In [241]:
#replace techo=2 if
#((vi03a==1 & vi03b==3)
#| vi03b==2 & inrange(vi03a,2,4))
dataviv.loc[((dataviv.vi03a.cat.codes == 0)&(dataviv.vi03b.cat.codes == 2)) | \
((dataviv.vi03b.cat.codes==1)&(dataviv.vi03a.cat.codes.isin(range(1,4)))),"techo"] = 2

In [242]:
#replace techo=3 if
#((vi03b==3 & inrange(vi03a,2,4))
#|(vi03a==5 | vi03a==6))
dataviv.loc[((dataviv.vi03b.cat.codes == 2)&(dataviv.vi03a.cat.codes.isin(range(1,4)))) | \
((dataviv.vi03a.cat.codes==4)|(dataviv.vi03a.cat.codes==5)),"techo"] = 3

In [243]:
#gen pared=1 if
#((vi05a==1 & inrange(vi05b,1,2))
#|(vi05a==2 & vi05b==1))
dataviv.loc[((dataviv.vi05a.cat.codes==0)&(dataviv.vi05b.cat.codes.isin([0,1]))) | \
((dataviv.vi05a.cat.codes==1)&(dataviv.vi05b.cat.codes==0)),"pared"]=1

In [244]:
#replace pared=2 if
#((vi05a==1 & vi05b==3)
#|(vi05a==2 & vi05b==2)
#|(inrange(vi05a,3,5) & inrange(vi05b,1,2)))
dataviv.loc[((dataviv.vi05a.cat.codes==0)&(dataviv.vi05b.cat.codes==2)) | \
((dataviv.vi05a.cat.codes==1)&(dataviv.vi05b.cat.codes==1)) | \
((dataviv.vi05a.cat.codes.isin(range(2,5)))&(dataviv.vi05b.cat.codes.isin([0,1]))),"pared"]=2

In [245]:
#replace pared=3 if
#((vi05b==3 & inrange(vi05a,2,5))
#|(vi05a==6 | vi05a==7))
dataviv.loc[((dataviv.vi05b.cat.codes==2)&(dataviv.vi05a.cat.codes.isin(range(1,5)))) | \
(dataviv.vi05a.cat.codes.isin([5,6])),"pared"] =3

In [246]:
#gen piso=1 if
#((vi04a<=3 & vi04b==1)
#|(vi04a<=3 & vi04b==2)
#|(vi04b==1 & inrange(vi04a,4,5)))
dataviv.loc[((dataviv.vi04a.cat.codes<=2)&(dataviv.vi04b.cat.codes==0))\
|((dataviv.vi04a.cat.codes<=2)&(dataviv.vi04b.cat.codes==1))\
|((dataviv.vi04b.cat.codes==0)&(dataviv.vi04a.cat.codes.isin([3,4]))),"piso"]=1

In [247]:
#replace piso=2 if
#((vi04a <= 3 & vi04b == 3)
#|(vi04b==2 & inrange(vi04a,4,5))
#|(vi04a==6 & vi04b==1))
dataviv.loc[((dataviv.vi04a.cat.codes<=2)&(dataviv.vi04b.cat.codes==2))\
|((dataviv.vi04b.cat.codes==1)&(dataviv.vi04a.cat.codes.isin([3,4])))\
|((dataviv.vi04a.cat.codes==5)&(dataviv.vi04b.cat.codes==0)),"piso"]=2

In [248]:
#replace piso=3 if
#((vi04b==3 & inlist(vi04a,4,5,6))
#|(vi04a==6 & vi04b==2)
#|(vi04a==7 | vi04a==8))
dataviv.loc[((dataviv.vi04b.cat.codes==2)&(dataviv.vi04a.cat.codes.isin([3,4,5])))\
|((dataviv.vi04a.cat.codes==5)&(dataviv.vi04b.cat.codes==1))\
|(dataviv.vi04a.cat.codes==6)|(dataviv.vi04a.cat.codes==7),"piso"]=3

In [249]:
#gen tipviv=1 if
#((techo==1 & pared==1 & inrange(piso,1,3))
#|(techo==1 & pared==2 & piso==1))
dataviv.loc[((dataviv.techo==1)&(dataviv.pared==1)&(dataviv.piso.isin(range(1,4))))\
|((dataviv.techo==1)&(dataviv.pared==2)&(dataviv.piso==1)),"tipviv"] = 1

In [250]:
#replace tipviv=2 if
#((techo==1 & pared==2 & inrange(piso,2,3))
#| techo==1 & pared==3 & inrange(piso,1,2)
#| techo==2 & pared==1 & inrange(piso,1,2)
#| techo==2 & pared==2 & inrange(piso,1,2)
#| techo==3 & pared==1 & inrange(piso,1,2)
#|(techo==3 & pared==2 & piso==1))
dataviv.loc[((dataviv.techo==1)&(dataviv.pared==2)&(dataviv.piso.isin(range(2,4))))\
|((dataviv.techo==1)&(dataviv.pared==3)&(dataviv.piso.isin(range(1,3))))
|((dataviv.techo==2)&(dataviv.pared==1)&(dataviv.piso.isin(range(1,3))))
|((dataviv.techo==2)&(dataviv.pared==2)&(dataviv.piso.isin(range(1,3))))
|((dataviv.techo==3)&(dataviv.pared==1)&(dataviv.piso.isin(range(1,3))))
|((dataviv.techo==3)&(dataviv.pared==2)&(dataviv.piso==1)),"tipviv"] = 2

In [251]:
#replace tipviv=3 if
#((techo==1 & pared==3 & piso==3)
#|(techo==2 & pared==1 & piso==3)
#|(techo==2 & pared==2 & piso==3)
#| techo==2 & pared==3 & inrange(piso,1,3)
#|(techo==3 & pared==1 & piso==3)
#| techo==3 & pared==2 & inrange(piso,1,3)
#| techo==3 & pared==3 & inrange(piso,1,3))
dataviv.loc[((dataviv.techo==1)&(dataviv.pared==3)&(dataviv.piso==3))\
|((dataviv.techo==2)&(dataviv.pared==1)&(dataviv.piso==3))
|((dataviv.techo==2)&(dataviv.pared==2)&(dataviv.piso==3))
|((dataviv.techo==2)&(dataviv.pared==3)&(dataviv.piso.isin(range(1,4))))
|((dataviv.techo==3)&(dataviv.pared==1)&(dataviv.piso==3))
|((dataviv.techo==3)&(dataviv.pared==2)&(dataviv.piso.isin(range(1,4))))
|((dataviv.techo==3)&(dataviv.pared==3)&(dataviv.piso.isin(range(1,4)))),"tipviv"] = 3

In [252]:
#gen dim4_ind2=1 if (tipviv==3 | tipviv==2)
#replace dim4_ind2=0 if tipviv==1
#label var dim4_ind2 "Déficit habitacional"
dataviv["dim4_ind2"]=1
dataviv.loc[dataviv.tipviv==1,"dim4_ind2"] = 0

In [253]:
dataviv["dim4_ind2"].value_counts()

0    15341
1    14692
Name: dim4_ind2, dtype: int64

#### 3. Sin saneamiento de excretas

In [254]:
#gen dim4_ind3=(area==1 & inrange(vi09,2,5)) | (area==2 & inrange(vi09,3,5))
#replace dim4_ind3=. if vi09==. | area==.
#label var dim4_ind3 "Sin saneamiento de excretas"

In [255]:
dataviv["dim4_ind3"] = (((dataviv.area==1)&(dataviv.vi09.cat.codes.isin(range(1,5))))\
|((dataviv.area==2)&(dataviv.vi09.cat.codes.isin(range(2,5))))).astype(int)

In [256]:
dataviv["dim4_ind3"].value_counts()

0    23548
1     6485
Name: dim4_ind3, dtype: int64

#### 4. Sin servicio de recolección de basura

In [257]:
#gen dim4_ind4=inlist(vi13,1,3,4,5)
#replace dim4_ind4=. if vi13==.
dataviv["dim4_ind4"] = (dataviv.vi13.cat.codes.isin([0,2,3,4])).astype(int)

In [258]:
dataviv["dim4_ind4"].value_counts()

0    24907
1     5126
Name: dim4_ind4, dtype: int64

In [259]:
#*1.Educación*
#egen miss_dim1_ind1=rowmiss(p07 p10a) if inrange(p03,5,17)
#egen miss_dim1_ind2=rowmiss(p07 p10a) if inrange(p03,18,29)
#egen miss_dim1_ind3=rowmiss(p07 escol) if inrange(p03,18,64)
dataper["miss_dim1_ind1"]=((dataper.loc[:,["p07","p10a"]].isnull().any(axis=1))&(dataper.p03.cat.codes.isin(range(5,18)))).astype(int)
dataper["miss_dim1_ind2"]=((dataper.loc[:,["p07","p10a"]].isnull().any(axis=1))&(dataper.p03.cat.codes.isin(range(18,30)))).astype(int)
dataper["miss_dim1_ind3"]=((dataper.loc[:,["p07","escol"]].isnull().any(axis=1))&(dataper.p03.cat.codes.isin(range(18,65)))).astype(int)

In [260]:
dataper["miss_dim1_ind1"].value_counts()

0    112821
Name: miss_dim1_ind1, dtype: int64

In [261]:
dataper["miss_dim1_ind2"].value_counts()

0    112821
Name: miss_dim1_ind2, dtype: int64

In [262]:
dataper["miss_dim1_ind3"].value_counts()

0    112821
Name: miss_dim1_ind3, dtype: int64

In [263]:
#*2.Trabajo y seguridad social*
#gen miss_dim2_ind1=(p20==. & p21==. & p22==.) if inrange(p03,5,14)
#replace miss_dim2_ind1=1 if condactn==. & inrange(p03,15,17)
#replace miss_dim2_ind1=1 if condactn==1 & inrange(p03,15,17) & (p07==. | horas==.)
#egen miss_dim2_ind2=rowmiss(condactn) if inrange(p03,18,98)
#replace miss_dim2_ind2=1 if p20==. & p21==. & p22==. & p32==. & p34==. & p35==. & ///
#inrange(p03,18,98)
#egen miss_dim2_ind3=rowmiss(p72a p75 p77 p05a p05b) if inrange(p03,15,98)
dataper["miss_dim2_ind1"]=(dataper.p20.isnull()&dataper.p21.isnull()&dataper.p22.isnull()&(dataper.p03.cat.codes.isin(range(5,15)))).astype(int)
dataper.loc[dataper.CONDACTN.isnull()&(dataper.p03.cat.codes.isin(range(15,18))),"miss_dim2_ind1"]=1
dataper.loc[(dataper.CONDACTN.cat.codes==1)&(dataper.p03.cat.codes.isin(range(15,18)))&(dataper.p07.isnull()|dataper.horas.isnull()),"miss_dim2_ind1"]=1
dataper["miss_dim2_ind2"]=(dataper.CONDACTN.isnull()&(dataper.p03.cat.codes.isin(range(18,99)))).astype(int)
dataper.loc[dataper.p20.isnull()&dataper.p21.isnull()&dataper.p22.isnull()&dataper.p32.isnull()&dataper.p34.isnull()&dataper.p35.isnull()&(dataper.p03.cat.codes.isin(range(18,99))),"miss_dim2_ind2"]=1
dataper["miss_dim2_ind3"]=((dataper.p72a.isnull()|dataper.p75.isnull()|dataper.p77.isnull()|dataper.p05a.isnull()|dataper.p05b.isnull())&(dataper.p03.cat.codes.isin(range(15,99)))).astype(int)

In [264]:
dataper["miss_dim2_ind1"].value_counts()

0    112821
Name: miss_dim2_ind1, dtype: int64

In [265]:
dataper["miss_dim2_ind2"].value_counts()

0    112821
Name: miss_dim2_ind2, dtype: int64

In [266]:
dataper["miss_dim2_ind3"].value_counts()

0    112821
Name: miss_dim2_ind3, dtype: int64

In [267]:
#*3.Salud, agua y alimentación*
#egen miss_dim3_ind1=rowmiss(epobre)
#egen miss_dim3_ind2=rowmiss(vi10)
dataper["miss_dim3_ind1"] = dataper.epobreza.isnull().astype(int)
dataper["miss_dim3_ind2"] = dataviv.vi10.isnull().astype(int)

In [268]:
dataper["miss_dim3_ind1"].value_counts()

0    111694
1      1127
Name: miss_dim3_ind1, dtype: int64

In [269]:
dataper["miss_dim3_ind2"].value_counts()

0.0    30033
Name: miss_dim3_ind2, dtype: int64

In [270]:
#egen miss_dim4_ind1=rowmiss(hsize vi07)
#egen miss_dim4_ind2=rowmiss(vi03a vi03b vi04a vi04b vi05a vi05b)
#egen miss_dim4_ind3=rowmiss(vi09)
#egen miss_dim4_ind4=rowmiss(vi13)
dataper["miss_dim4_ind1"] = (dataper.hsize.isnull()|dataper.vi07.isnull()).astype(int)
dataviv["miss_dim4_ind2"] = (dataviv.vi03a.isnull()|dataviv.vi03b.isnull()|dataviv.vi04a.isnull()|dataviv.vi04b.isnull()|dataviv.vi05a.isnull()|dataviv.vi05b.isnull()).astype(int)
dataviv["miss_dim4_ind3"] = dataviv.vi09.isnull().astype(int)
dataviv["miss_dim4_ind4"] = dataviv.vi13.isnull().astype(int)

In [271]:
dataper["miss_dim4_ind1"].value_counts()

0    112821
Name: miss_dim4_ind1, dtype: int64

In [272]:
dataviv["miss_dim4_ind2"].value_counts()

0    30033
Name: miss_dim4_ind2, dtype: int64

In [273]:
dataviv["miss_dim4_ind3"].value_counts()

0    30033
Name: miss_dim4_ind3, dtype: int64

In [274]:
dataviv["miss_dim4_ind4"].value_counts()

0    30033
Name: miss_dim4_ind4, dtype: int64

In [276]:
#egen miss_total=rowtotal(miss_dim*)
#recode miss_total (1/max=1)
#label var miss_total "Total de hogares sin información"
#drop miss_dim*
#drop if p03==99
#tempvar aux
#bys id_hogar: egen `aux'=max(miss_total)
#replace miss_total=`aux'
#drop if miss_total==1
dataviv["miss_total"] = dataviv["miss_dim4_ind2"] + dataviv["miss_dim4_ind3"] + dataviv["miss_dim4_ind4"]
dataper["miss_total"] = dataper.loc[:,["miss_dim1_ind1","miss_dim1_ind2","miss_dim1_ind3","miss_dim2_ind1","miss_dim2_ind2","miss_dim2_ind3","miss_dim3_ind1","miss_dim3_ind2","miss_dim4_ind1"]].sum(axis=1)
hogares_miss = dataper.loc[dataper["miss_total"]>0,"idh"].unique()
dataper = dataper.loc[~dataper.idh.isin(hogares_miss),:].reset_index(drop=True)

In [277]:
dataper.shape

(111694, 342)

In [290]:
#v = np.array([10,10,10])
dataper.groupby("idh").agg({"dim1_ind1":"max","dim1_ind2":"max","dim1_ind3":"max"})

,dim1_ind1,dim1_ind2,dim1_ind3
idh,,,
010150001003Panel A2Vivienda DosHogar Uno,0.0,NaN,10.0
010150001003Panel A2Vivienda TresHogar Uno,0.0,NaN,0.0
010150001003Panel A2Vivienda UnoHogar Uno,NaN,0.0,10.0
010150001003Panel B2Vivienda Cuatro (reemplazo)Hogar Uno,0.0,0.0,0.0
010150001003Panel B2Vivienda DosHogar Uno,0.0,NaN,0.0
...,...,...,...
900451999007Panel K2Vivienda DosHogar Uno,NaN,NaN,10.0
900451999007Panel K2Vivienda UnoHogar Uno,0.0,NaN,10.0
900451999007Panel L2Vivienda DosHogar Uno,10.0,NaN,10.0
900451999007Panel L2Vivienda TresHogar Uno,NaN,NaN,0.0
900451999007Panel L2Vivienda UnoHogar Uno,NaN,NaN,10.0

In [285]:
dataper.loc[dataper.idh=="010150001003Panel A2Vivienda UnoHogar Uno"]

,area,ciudad,zona,sector,panelm,vivienda,hogar,p01,p02,p03,...,miss_dim1_ind1,miss_dim1_ind2,miss_dim1_ind3,miss_dim2_ind1,miss_dim2_ind2,miss_dim2_ind3,miss_dim3_ind1,miss_dim3_ind2,miss_dim4_ind1,miss_total
21369,1.0,10150,001,003,Panel A2,Vivienda Uno,Hogar Uno,Persona 4,Mujer,18.0,...,0,0,0,0,0,0,0,0.0,0,0.0
21370,1.0,10150,001,003,Panel A2,Vivienda Uno,Hogar Uno,Persona 3,Hombre,20.0,...,0,0,0,0,0,0,0,0.0,0,0.0
21371,1.0,10150,001,003,Panel A2,Vivienda Uno,Hogar Uno,Persona 2,Mujer,41.0,...,0,0,0,0,0,0,0,0.0,0,0.0
21372,1.0,10150,001,003,Panel A2,Vivienda Uno,Hogar Uno,Persona 1,Hombre,41.0,...,0,0,0,0,0,0,0,0.0,0,0.0

#<u><b>INDICE DE POBREZA MULTIDIMENSIONAL

##<b><font color='darkred'>ESTRUCTURA DE PONDERACION

In [117]:
def ci(row):
  return ((row.dim1i1h * 1/4 * 1/3)
          + (row.dim1i2h * 1/4 * 1/3)
          + (row.dim1i3h * 1/4 * 1/3)
          + (row.dim2i1h * 1/4 * 1/3)
          + (row.dim2i2h * 1/4 * 1/3)
          + (row.dim2i3h * 1/4 * 1/3)
          + (row.dim3i1h * 1/4 * 1/2)
          + (row.dim3i2h * 1/4 * 1/2)
          + (row.dim4i1h * 1/4 * 1/4)
          + (row.dim4i2h * 1/4 * 1/4)
          + (row.dim4i3h * 1/4 * 1/4)
          + (row.dim4i4h * 1/4 * 1/4))

In [118]:
df['ci'] = df.apply(lambda y: ci(y), axis=1)

In [119]:
df.ci.unique()

array([0.20833333, 0.0625    , 0.375     , 0.22916667, 0.14583333,
       0.08333333, 0.58333333, 0.125     , 0.4375    , 0.29166667,
       0.39583333, 0.3125    , 0.25      , 0.35416667, 0.45833333,
       0.27083333, 0.5       , 0.16666667, 0.33333333, 0.41666667,
       0.1875    , 0.625     , 0.5625    , 0.70833333, 0.52083333,
       0.        , 0.47916667, 0.85416667, 0.64583333, 0.54166667,
       0.60416667, 0.77083333, 0.66666667, 0.6875    , 0.72916667,
       0.91666667, 0.83333333, 0.79166667, 0.75      ])

##<b><font color='darkred'>CALCULO FINAL

In [120]:
df['TPM'] = df.apply(lambda y: True if (y.ci >= 4/12) else False, axis=1)

In [121]:
df['IPM'] = df.apply(lambda y: y.ci if (y.TPM) else 0, axis=1)

In [122]:
df["IPM"].mean()

0.14438782547016463

In [123]:
np.average(df["IPM"],weights=df["fexp_x"],returned=True)

(0.13344601429084796, 15449567.954157097)

In [124]:
#media de ponderaciones totales sin IPM cambiada
df.groupby('idh')[['ci']].mean()[['ci']]['ci'].mean()

0.25876743356195037

In [125]:
ipm = df[df.IPM > 0].groupby('idh')[['IPM']].mean()[['IPM']]['IPM'].mean()

In [126]:
print(f'El indice de pobreza multidimensional general 2017-06 es {ipm}')

El indice de pobreza multidimensional general 2017-06 es 0.4374039938556068

In [127]:
df["ci"].mean()

0.29105936043819636

In [137]:
dff=df.loc[df["IPM"]>0,:]

In [143]:
dff["IPM"].mean()

0.45171592800345184

In [139]:
np.average(df["IPM"],weights=df["fexp_x"],returned=True)

(0.13344601429084796, 15449567.954157097)

In [141]:
np.average(dff["IPM"],weights=dff["fexp_x"],returned=True)

(0.44452494568013323, 4637947.287397904)

In [129]:
df["IPM"].mean()

0.14438782547016463

In [130]:
df

,area,ciudad,conglomerado_x,zona,sector,panelm,vivienda,hogar,p01,p02,...,dim2i3h,dim3i1h,dim3i2h,dim4i1h,dim4i2h,dim4i3h,dim4i4h,ci,TPM,IPM
0,1,10150,999999,1,3,13,2,1,1,2,...,0,0,0,0,1,0,1,0.208333,False,0.000000
1,1,10150,999999,1,3,13,2,1,2,1,...,0,0,0,0,1,0,1,0.208333,False,0.000000
2,1,10150,999999,1,3,13,2,1,3,2,...,0,0,0,0,1,0,1,0.208333,False,0.000000
3,1,10150,999999,1,3,13,3,1,1,1,...,0,0,0,0,0,0,1,0.062500,False,0.000000
4,1,10150,999999,1,3,13,3,1,2,2,...,0,0,0,0,0,0,1,0.062500,False,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101502,2,900451,999999,999,7,123,2,2,2,2,...,1,0,0,1,1,0,1,0.354167,True,0.354167
101503,2,900451,999999,999,7,123,2,2,3,2,...,1,0,0,1,1,0,1,0.354167,True,0.354167
101504,2,900451,999999,999,7,123,2,2,4,1,...,1,0,0,1,1,0,1,0.354167,True,0.354167
101505,2,900451,999999,999,7,123,3,1,1,1,...,1,0,1,0,1,0,0,0.354167,True,0.354167
101506,2,900451,999999,999,7,123,3,1,2,2,...,1,0,1,0,1,0,0,0.354167,True,0.354167

In [131]:
df["id_hogar"] = df["ciudad"].astype(str).str.zfill(6) + df["zona"].astype(str).str.zfill(3) + df["sector"].astype(str).str.zfill(3)

In [132]:
sdf = gpd.read_file("sectors_inec.geojson")
dfm = gpd.GeoDataFrame(df.merge(sdf,left_on="id_hogar",right_on="DPA_SECTOR", how="inner"))
mdf = gpd.read_file('../CARDIFF/data/neigh/map.geojson', encoding='utf-8')

In [133]:
dfm.crs = mdf.crs
gdfr = gpd.sjoin(dfm,mdf,how="inner", op='intersects')

c:\users\eduardo\appdata\local\programs\python\python37\lib\site-packages\numpy\lib\function_base.py:2246: RuntimeWarning: invalid value encountered in find_intersects (vectorized)
  outputs = ufunc(*inputs)

In [134]:
gdfr["ingpc"] = gdfr["ingpc"].str.replace(",",".").astype(float)

In [135]:
np.average(gdfr[gdfr["Name"]=="Isla Trinitaria"]["ci"],weights=gdfr[gdfr["Name"]=="Isla Trinitaria"]["fexp_x"])

0.3153595626603433