#<u><b>Montaje de Drive

In [1]:
import pandas as pd
import numpy as np
import geopandas as gp

Can't load requested DLL: c:\users\eduardo\appdata\local\programs\python\python37\lib\site-packages\osgeo\gdalplugins\ogr_FileGDB.dll
126: The specified module could not be found.

Can't load requested DLL: c:\users\eduardo\appdata\local\programs\python\python37\lib\site-packages\osgeo\gdalplugins\ogr_FileGDB.dll
126: The specified module could not be found.

Can't load requested DLL: c:\users\eduardo\appdata\local\programs\python\python37\lib\site-packages\osgeo\gdalplugins\ogr_FileGDB.dll
126: The specified module could not be found.

Can't load requested DLL: c:\users\eduardo\appdata\local\programs\python\python37\lib\site-packages\osgeo\gdalplugins\ogr_FileGDB.dll
126: The specified module could not be found.

#<u><b>Lectura de Datos

##<b><font color='darkred'>Datos Vivienda</font>

In [2]:
dataviv = pd.read_spss('enemdu/201512_EnemduBDD_vivivendahogar.SAV')

In [3]:
dataviv["ciudad"] = dataviv["ciudad"].astype(int)

In [4]:
dataviv.head(3)

,area,ciudad,zona,sector,panelm,vivienda,hogar,vi01,vi02,vi03a,...,eq1802,eq1901,eq1902,vi20,vi21,vi22,vi23,id_sector,plan_muestreo,fexp
0,1.0,10150,001,003,Panel A2,Vivienda Uno,Hogar Uno,"Lastrado, calle de tierra",Departamento,"Asbesto, eternit",...,NaN,No,NaN,Si,La conexión es por CABLE y mientras utiliza SI...,Computadora de escritorio,NaN,1.015000e+10,1013,64.249774
1,1.0,10150,001,003,Panel A2,Vivienda Dos,Hogar Uno,"Lastrado, calle de tierra",Casa o villa,Teja,...,1.0,No,NaN,Si,A través de su línea telefónica y mientras uti...,Computadora de escritorio,NaN,1.015000e+10,1013,64.249774
2,1.0,10150,001,003,Panel A2,Vivienda Tres,Hogar Uno,"Lastrado, calle de tierra",Casa o villa,"Asbesto, eternit",...,1.0,No,NaN,Si,A través de su línea telefónica y mientras uti...,Computadora de escritorio,NaN,1.015000e+10,1013,64.249774

In [5]:
#dataviv.columns

In [5]:
dataviv['idh'] = dataviv.ciudad.astype(str).str.zfill(6) + dataviv.zona.astype(str) + dataviv.sector.astype(str) + dataviv.panelm.astype(str) + dataviv.vivienda.astype(str) + dataviv.hogar.astype(str)

In [6]:
dataviv.idh.head(2)

0    010150001003Panel A2Vivienda UnoHogar Uno
1    010150001003Panel A2Vivienda DosHogar Uno
Name: idh, dtype: object

##<b><font color='darkred'>Datos personas

In [7]:
dataper = pd.read_spss('enemdu/201512_EnemduBDD_15anios.sav')

#dataper = pd.read_spss('enemdu/201512_EnemduBDD_15anios.sav')

In [8]:
dataper["ciudad"] = dataper["ciudad"].astype(int)

In [9]:
dataper.head()

,area,ciudad,zona,sector,panelm,vivienda,hogar,p01,p02,p03,...,nc,desem,desemab,desemoc,desem1,desem2,pein,id_sector,plan_muestreo,fexp
0,1.0,10150,009,004,Panel B2,Vivienda Uno,Hogar Uno,Persona 3,Hombre,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.015001e+10,1012,141.065750
1,1.0,10150,056,005,Panel A2,Vivienda Tres,Hogar Uno,Persona 1,Hombre,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Población Económicamente Inactiva,1.015006e+10,1012,65.976281
2,1.0,70150,005,001,Panel B2,Vivienda Dos,Hogar Dos,Persona 1,Hombre,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.015001e+10,1072,123.512430
3,1.0,70150,043,004,Panel B2,Vivienda Uno,Hogar Uno,Persona 1,Hombre,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.015004e+10,1071,96.697327
4,1.0,80150,012,003,Panel A2,Vivienda Uno,Hogar Uno,Persona 1,Hombre,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.015001e+10,1081,89.319663

In [23]:
#dataper["fexp"] = dataper["fexp"].str.replace(",",".").astype(float)

In [10]:
dataper["fexp"].sum()

16404530.613148494

In [11]:
dataper.columns

Index(['area', 'ciudad', 'zona', 'sector', 'panelm', 'vivienda', 'hogar',
       'p01', 'p02', 'p03',
       ...
       'nc', 'desem', 'desemab', 'desemoc', 'desem1', 'desem2', 'pein',
       'id_sector', 'plan_muestreo', 'fexp'],
      dtype='object', length=313)

In [12]:
dataper['idp'] = dataper.ciudad.astype(str).str.zfill(6) + dataper.zona.astype(str) + dataper.sector.astype(str) + dataper.panelm.astype(str) + dataper.vivienda.astype(str) + dataper.hogar.astype(str)+ dataper.p01.astype(str)
dataper['idh'] = dataper.ciudad.astype(str).str.zfill(6) + dataper.zona.astype(str) + dataper.sector.astype(str) + dataper.panelm.astype(str) + dataper.vivienda.astype(str) + dataper.hogar.astype(str)

c:\users\eduardo\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  """Entry point for launching an IPython kernel.
c:\users\eduardo\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

In [13]:
dataper.idp.head(2)

0    010150009004Panel B2Vivienda UnoHogar UnoPerso...
1    010150056005Panel A2Vivienda TresHogar UnoPers...
Name: idp, dtype: object

##<b><font color='darkred'>MISSING DATA

###<font color='darkblue'>*Exploracion*

In [14]:
dataper.shape[0]

112821

In [15]:
dataviv.shape[0]

30033

In [76]:
#list(dataper.columns)

In [16]:
dataviv.columns

Index(['area', 'ciudad', 'zona', 'sector', 'panelm', 'vivienda', 'hogar',
       'vi01', 'vi02', 'vi03a', 'vi03b', 'vi04a', 'vi04b', 'vi05a', 'vi05b',
       'vi06', 'vi07', 'vi07a', 'vi08', 'vi09', 'vi10', 'vi10a', 'vi11',
       'vi12', 'vi13', 'vi14', 'vi15', 'vi16', 'vi17a', 'vi17b', 'vi18a',
       'vi18b', 'eq0101', 'eq0102', 'eq0201', 'eq0202', 'eq0301', 'eq0302',
       'eq0401', 'eq0402', 'eq0501', 'eq0502', 'eq0601', 'eq0602', 'eq0701',
       'eq0702', 'eq0801', 'eq0802', 'eq0901', 'eq0902', 'eq1001', 'eq1002',
       'eq1101', 'eq1102', 'eq1201', 'eq1202', 'eq1301', 'eq1302', 'eq1401',
       'eq1402', 'eq1501', 'eq1502', 'eq1601', 'eq1602', 'eq1701', 'eq1702',
       'eq1801', 'eq1802', 'eq1901', 'eq1902', 'vi20', 'vi21', 'vi22', 'vi23',
       'id_sector', 'plan_muestreo', 'fexp', 'idh'],
      dtype='object')

### <font color='darkblue'>*Dimension 1 EDUCACION*

In [41]:
((dataper.p10b>=0) & (dataper.p10b<=6)).sum()

86118

In [43]:
dataper.p10b.isin(range(0,7)).sum()

86118

In [55]:
dataper["asist_basica"] = ((dataper.p03.cat.codes.isin(range(5,15))) \
&(dataper.p07.cat.codes==1) \
&((dataper.p10a.cat.codes.isin([1,3])) \
|((dataper.p10a.cat.codes==4)&(dataper.p10b.isin(range(0,7)))) \
|((dataper.p10a.cat.codes==5)&(dataper.p10b.isin(range(0,10)))) \
|((dataper.p10a.cat.codes==6)&(dataper.p10b.isin(range(0,3)))) \
))

In [ ]:
replace asist_basica=0 if inrange(p03,5,14) & asist_basica!=1
dataper["asist_basica"] =

In [54]:
dataper["asist_batch"] = (dataper.p03.cat.codes.isin(range(15,18)))&(dataper.p07.cat.codes==1) & \
(((dataper.p10a.cat.codes==5)&(dataper.p10b==10)) \
|((dataper.p10a.cat.codes==7)&(dataper.p10b.isin(range(0,3)))) \
|((dataper.p10a.cat.codes==6)&(dataper.p10b.isin(range(3,6)))))

In [85]:
#dataper.p10a.dtypes

In [86]:
#dataper.p10a.isna().sum()

In [87]:
#miss dim1_ind1
#dataper.p07 = dataper.p07.str.strip(' ')
#dataper.p10a = dataper.p10a.str.strip(' ')
#dataper['miss'] = ((dataper.p03.isin(range(5,18))) & ((dataper.p07.isna()) | (dataper.p10a.isna()) | (dataper.p10a.eq('')) | (dataper.p07.eq(''))))
# dataper = dataper[~((dataper.p03.isin(range(5,18))) & ((dataper.p07.isna()) | (dataper.p10a.isna()) | (dataper.p10a.eq('')) | (dataper.p07.eq(''))))]

In [88]:
#miss dim1_ind2
#dataper['miss'] = dataper['miss'] | ((dataper.p03.isin(range(18,30))) & ((dataper.p07.isna()) | (dataper.p10a.isna()) | (dataper.p10a.eq('')) | (dataper.p07.eq(''))))
# dataper = dataper[~((dataper.p03.isin(range(18,30))) & ((dataper.p07.isna()) | (dataper.p10a.isna()) | (dataper.p10a.eq('')) | (dataper.p07.eq(''))))]

In [89]:
#miss dim1_ind3
#dataper.p09 = dataper.p09.str.strip(' ')
#dataper.p10b = dataper.p10b.str.strip(' ')
#dataper.p10b = dataper.p10b.replace([''],'0')
#dataper['miss'] = dataper['miss'] | ((dataper.p03.isin(range(18,65))) & ((dataper.p07.isna()) | (dataper.p10a.isna()) | (dataper.p10a.eq('')) | (dataper.p07.eq('')) | ((dataper.p10b.isna() | dataper.p10b.eq('')) & (~dataper.p10a.isin(['1','2','3'])))))
# dataper = dataper[~((dataper.p03.isin(range(18,65))) & ((dataper.p07.isna()) | (dataper.p10a.isna()) | (dataper.p10a.eq('')) | (dataper.p07.eq('')) | ((dataper.p10b.isna() | dataper.p10b.eq('')) & (~dataper.p10a.isin(['1','2','3'])))))]

In [90]:
#dataper.shape[0]

### <font color='darkblue'>*Dimension2 TRABAJO Y SEGURIDAD SOCIAL*

In [23]:
#miss dim2_ind1
dataper.p20 = dataper.p20.str.strip(' ')
dataper.p21 = dataper.p21.str.strip(' ')
dataper.p22 = dataper.p22.str.strip(' ')
dataper.p51a = dataper.p51a.str.strip(' ')
dataper.p51b = dataper.p51b.str.strip(' ')
dataper.p51c = dataper.p51c.str.strip(' ')
dataper.empleo = dataper.empleo.str.strip(' ')
dataper.pean = dataper.pean.str.strip(' ')
dataper.p24 = dataper.p24.str.strip(' ')
dataper.p51a = dataper.p51a.replace(['999'],'')
dataper.p51b = dataper.p51b.replace(['999'],'')
dataper.p51c = dataper.p51c.replace(['999'],'')
dataper.p24 = dataper.p24.replace([''],'0')
dataper.p24 = dataper.p24.astype(int)

In [24]:
#miss dim2_ind1
def gen_horas(row):
  if row.empleo == '1':
    horas = 0
  if ((row.pean == '1') and (row.p20 == '1')) or ((row.pean == '1') and (row.p20 == '2') and (row.p21=='' or int(row.p21)<=11)):
    horas = int(row.p24)
  else:
    horas = None
  
  if row.p51a=='' and row.p51b=='' and row.p51c=='':
    hh = None
  else:
    sumandos = []
    for i in [row.p51a,row.p51b,row.p51c]:
        try:
            s = int(i)
            sumandos.append(s)
        except:
            if i == '':
                sumandos.append(0)
    suma = sum(sumandos)
    if suma < 0:
      hh = None
    else: 
      hh = suma

  if (row.pean == '1') and (row.p20 == '2') and (row.p21 == '12') and (row.p22 == '1'):
    horas = hh
  return horas

In [25]:
dataper['horas'] = dataper.apply(gen_horas, axis=1)

In [26]:
dataper[['p51a','p51b','p51c','CONDACTN','p03','p20','p21','p22','empleo','p24','horas']].dtypes

p51a         object
p51b         object
p51c         object
CONDACTN      int64
p03           int64
p20          object
p21          object
p22          object
empleo       object
p24           int32
horas       float64
dtype: object

In [27]:
#miss dim2_ind1
dataper['miss'] = dataper['miss'] | ((dataper.p03.isin(range(5,15))) & ((dataper.p20.eq('')) & (dataper.p21.eq('')) & (dataper.p22.eq('')) ))
# dataper = dataper[~((dataper.p03.isin(range(5,15))) & ((dataper.p20.eq('')) & (dataper.p21.eq('')) & (dataper.p22.eq('')) ))]
dataper['miss'] = dataper['miss'] | ((dataper.p03.isin(range(15,18))) & (dataper.CONDACTN.isna()))
# dataper = dataper[~((dataper.p03.isin(range(15,18))) & (dataper.CONDACTN.isna()))]

In [28]:
#miss dim2_ind1
dataper['miss'] = dataper['miss'] | ((dataper.p03.isin(range(15,18))) & (dataper.CONDACTN.eq(1)) & ((dataper.p07.eq('')) | (dataper.horas.isna())))
# dataper = dataper[~((dataper.p03.isin(range(15,18))) & (dataper.CONDACTN.eq(1)) & ((dataper.p07.eq('')) | (dataper.horas.isna())))]

In [29]:
dataper.shape[0]

110283

In [30]:
#miss dim2_ind2
dataper[['p32','p34','p35']].dtypes

p32    object
p34    object
p35    object
dtype: object

In [31]:
#miss dim2_ind2
#dataper[dataper.p34.eq('')]
dataper.p32 = dataper.p32.str.strip(' ')
dataper.p34 = dataper.p34.str.strip(' ')
dataper.p35 = dataper.p35.str.strip(' ')

In [32]:
#miss dim2_ind2
dataper['miss'] = dataper['miss'] | ((dataper.p03.isin(range(18,99))) & (dataper.CONDACTN.isna()))
# dataper = dataper[~((dataper.p03.isin(range(18,99))) & (dataper.CONDACTN.isna()))]
dataper['miss'] = dataper['miss'] | ((dataper.p03.isin(range(18,99))) & ((dataper.p20.eq('')) & (dataper.p21.eq('')) & (dataper.p22.eq('')) & (dataper.p32.eq('')) & (dataper.p34.eq('')) & (dataper.p35.eq('')) ))
# dataper = dataper[~((dataper.p03.isin(range(18,99))) & ((dataper.p20.eq('')) & (dataper.p21.eq('')) & (dataper.p22.eq('')) & (dataper.p32.eq('')) & (dataper.p34.eq('')) & (dataper.p35.eq('')) ))]

In [33]:
dataper.shape[0]

110283

In [34]:
#miss dim2_ind3
dataper[['p72a','p75','p77','p05a','p05b']].dtypes

p72a    object
p75     object
p77     object
p05a     int64
p05b     int64
dtype: object

In [35]:
#miss dim2_ind3
dataper.p72a = dataper.p72a.str.strip(' ')
dataper.p75 = dataper.p75.str.strip(' ')
dataper.p77 = dataper.p77.str.strip(' ')

In [36]:
#miss dim2_ind3
dataper['miss'] = dataper['miss'] | ((dataper.p03.isin(range(15,99))) & ((dataper.p05a.isna()) | (dataper.p05b.isna()) | (dataper.p72a.eq('')) | (dataper.p75.eq('')) | (dataper.p77.eq('')) ))
# dataper = dataper[~((dataper.p03.isin(range(15,99))) & ((dataper.p05a.isna()) | (dataper.p05b.isna()) | (dataper.p72a.eq('')) | (dataper.p75.eq('')) | (dataper.p77.eq('')) ))]

In [37]:
dataper.shape[0]

110283

### <font color='darkblue'>*Dimension3 SALUD AGUA Y ALIMENTACION*

In [38]:
#miss dim3_ind1
dataper[['epobreza']].dtypes

epobreza    object
dtype: object

In [39]:
#miss dim3_ind1
dataper.epobreza = dataper.epobreza.str.strip(' ')
dataper['miss'] = dataper['miss'] | (dataper.epobreza.eq(''))
# dataper = dataper[~(dataper.epobreza.eq(''))]
dataper['miss'] = dataper['miss'] | (dataper.epobreza.isna())
# dataper = dataper[~(dataper.epobreza.isna())]

In [40]:
dataper.shape[0]

110283

In [41]:
#miss dim3_ind2 aqui ya se evalua a nivel hogar
dataviv[['vi10']].dtypes

vi10    int64
dtype: object

In [42]:
#miss dim3_ind2
dataper['miss'] = dataper['miss'] | (dataviv.vi10.isna())
# dataviv = dataviv[~(dataviv.vi10.isna())]

### <font color='darkblue'>*Dimension4 HABITAT VIVIENDA Y AMBIENTE SANO*

In [43]:
#miss dim4_ind1
dataviv[['vi07']].dtypes

vi07    int64
dtype: object

In [44]:
#miss dim4_ind1 toda casa tiene 1 dormitorio al menos
print(f'sin dormitorios {dataviv[dataviv.vi07.eq(0)].shape[0]} con un dormitorio {dataviv[dataviv.vi07.eq(1)].shape[0]}')

sin dormitorios 0 con un dormitorio 7941

In [45]:
#miss dim4_ind1 total reemplazando 0 por 1
dataviv.vi07 = dataviv.vi07.replace([0],1)
print(f'sin dormitorios {dataviv[dataviv.vi07.eq(0)].shape[0]} con un dormitorio {dataviv[dataviv.vi07.eq(1)].shape[0]}')

sin dormitorios 0 con un dormitorio 7941

In [46]:
#miss dim4_ind1
dataper['miss'] = dataper['miss'] | (dataviv.vi07.isna())
# dataviv = dataviv[~(dataviv.vi07.isna())]

In [47]:
#miss dim4_ind2
dataviv[['vi03a','vi03b','vi04a','vi04b','vi05a','vi05b']].dtypes

vi03a    int64
vi03b    int64
vi04a    int64
vi04b    int64
vi05a    int64
vi05b    int64
dtype: object

In [48]:
#miss dim4_ind2
dataper['miss'] = dataper['miss'] | ( (dataviv.vi03a.isna()) | (dataviv.vi03b.isna()) | (dataviv.vi04a.isna()) | (dataviv.vi04b.isna()) | (dataviv.vi05a.isna()) | (dataviv.vi05b.isna()) )
# dataviv = dataviv[~( (dataviv.vi03a.isna()) | (dataviv.vi03b.isna()) | (dataviv.vi04a.isna()) | (dataviv.vi04b.isna()) | (dataviv.vi05a.isna()) | (dataviv.vi05b.isna()) )]

In [49]:
#miss dim4_ind3
dataviv[['vi09']].dtypes

vi09    int64
dtype: object

In [50]:
#miss dim4_ind3
dataper['miss'] = dataper['miss'] |  (dataviv.vi09.isna())
# dataviv = dataviv[~(dataviv.vi09.isna())]

In [51]:
#miss dim4_ind4
dataviv[['vi13']].dtypes

vi13    int64
dtype: object

In [52]:
#miss dim4_ind4
dataper['miss'] = dataper['miss'] |  (dataviv.vi13.isna())
# dataviv = dataviv[~(dataviv.vi13.isna())]

In [53]:
dataper.shape[0]

110283

### <font color='darkblue'>*BORRANDO TODAS LAS PERSONAS CON MISSING DATA Y A SUS COMPAÑEROS DE VIVIENDA*

In [54]:
miss_idhs = dataper[dataper.miss == True].idh.unique()

In [55]:
dataper[dataper.miss == True].shape

(8895, 317)

In [56]:
#TOTAL DE las viviendas con missing data
len(dataper[dataper.miss == True].idh.unique())

2390

In [57]:
dataper = dataper[~(dataper.idh.isin(miss_idhs))]

In [58]:
dataper = dataper[~(dataper.p03 >= 99)]

#<u><b>INDICADORES

##<b><font color='darkred'>DIMENSION 1 (EDUCACION)

###<font color='darkblue'>*INDICADOR 1 INASISTENCIA A ED BASICA Y BACHILLERATO*

In [59]:
dataper[['p03','p07','p10a','p10b']].dtypes

p03      int64
p07     object
p10a    object
p10b    object
dtype: object

In [60]:
list(map(str,range(0,4)))

['0', '1', '2', '3']

In [61]:
def asist_basic(row):
  return bool((int(row.p07) ==1) & \
  ( int(row.p10a) in [1,3]
  or (int(row.p10a)==4 & (int(row.p10b) in range(0,7)))
  or (int(row.p10a)==5 & (int(row.p10b) in range(0,10)))
  or (int(row.p10a)==6 & (int(row.p10b) in range(0,3)))
  ))

In [62]:
dataper['asist_basic'] = dataper.apply(lambda x: asist_basic(x) if (x.p03 in range(5,15)) else False, axis=1)

In [63]:
def asist_bach(row):
  return bool((int(row.p07) ==1) & \
  ( (
      (int(row.p10a) ==5) & (int(row.p10b) ==10))
  | (
      (int(row.p10a) ==7) & (int(row.p10b) in range(0,3)))
  | (
      (int(row.p10a) ==6) & (int(row.p10b) in range(3,6)))
  ))

In [64]:
dataper['asist_bach'] = dataper.apply(lambda x: asist_bach(x) if (x.p03 in range(15,18)) else False, axis=1)

In [65]:
def dim1i1(row):
  if int(row.p10a)<8:
    dim1_ind1 = True
  if  (row['asist_basic'] | row['asist_bach'] | (int(row.p10a) >=8)):
    dim1_ind1 = False
  return bool(dim1_ind1)

In [66]:
dataper['dim1i1'] = dataper.apply(lambda y: dim1i1(y) if (y.p03 in range(5,18)) else False, axis=1)

In [67]:
print(f'filas sin usar en indicador: {dataper[~dataper.p03.isin(range(5,18))].shape[0]} \ntotal Falsos de esas filas: {dataper[(dataper.dim1i1 == False) & (~dataper.p03.isin(range(5,18)))].shape[0]}')

filas sin usar en indicador: 73933
total Falsos de esas filas: 73933

###<font color='darkblue'>*INDICADOR 2 NO ACCESO A EDUCACION SUPERIOR POR BARRERAS ECONOMICAS*

In [68]:
dataper[['p09']].dtypes

p09    object
dtype: object

In [69]:
def dim1i2(row):
  ind = False
  if (int(row.p07)>=1 & int(row.p07)<=2) & ( (int(row.p10a)==7 & int(row.p10b)>=3)
  | (int(row.p10a)==6 & int(row.p10b)>=6)) | (int(row.p10a) in range(8,11)):
    ind = False
  if (row.p09 != ''):
    if int(row.p07)==2 & ( (int(row.p10a)==7 & int(row.p10b)>=3)
    | (int(row.p10a)==6 & int(row.p10b)>=6) | (int(row.p10a) in range(8,10))) & int(row.p09)==3 :
      ind = True
  return bool(ind)

In [70]:
dataper['dim1i2'] = dataper.apply(lambda y: dim1i2(y) if (y.p03 in range(18,30)) else False, axis=1)

###<font color='darkblue'>*INDICADOR 3 LOGRO EDUCATIVO INCOMPLETO*

In [71]:
dataper[['p10a','p10b','p03','p07']].dtypes

p10a    object
p10b    object
p03      int64
p07     object
dtype: object

In [72]:
def escol(row):
  escol = 0
  if row.p10a == '':
    escol = 0
  else:
    if (int(row.p10a) == 3):
      escol = 1
    if row.p10b == '':
      escol = 0
    else:
      if (int(row.p10a) == 1) & (int(row.p10b) == 0):
        escol = 0
      if (int(row.p10a) == 2) & (int(row.p10b) == 0):
        escol = 0
      if (int(row.p10a) == 2) & (int(row.p10b) == 1):
        escol = 2
      if (int(row.p10a) == 2) & (int(row.p10b) == 2):
        escol = 4
      if (int(row.p10a) == 2) & (int(row.p10b) == 3):
        escol = 6
      if (int(row.p10a) == 2) & (int(row.p10b) == 4):
        escol = 7
      if (int(row.p10a) == 4):
        escol = 1+int(row.p10b)
      if (int(row.p10a) == 5):
        escol = int(row.p10b)
      if (int(row.p10a) == 6):
        escol = 7+int(row.p10b)
      if (int(row.p10a) == 7):
        escol = 10+int(row.p10b)
      if (int(row.p10a) == 8):
        escol = 13+int(row.p10b)
      if (int(row.p10a) == 9):
        escol = 13+int(row.p10b)
      if (int(row.p10a) == 10):
        escol = 18+int(row.p10b)
  return int(escol)

In [73]:
dataper['escol'] = dataper.apply(lambda y: escol(y) , axis=1)

In [74]:
#logro educativo incompleto
def dim1i3(row):
  if ((row.escol<10 & int(row.p07)==1) | (row.escol>=10)):
    ind = False
  elif  (row.escol<10 & int(row.p07)==2):
    ind = True
  else: 
    ind = False
  return bool(ind)

In [75]:
dataper['dim1i3'] = dataper.apply(lambda y: dim1i3(y) if (y.p03 in range(18,65)) else False, axis=1)

##<b><font color='darkred'>DIMENSION 2 (TRABAJO Y SEGURIDAD SOCIAL)

###<font color='darkblue'>*INDICADOR 1 EMPLEO INFANTIL Y ADOLESCENTE*

In [76]:
dataper[['p20','p21','p22','p07','CONDACTN','horas']].dtypes

p20          object
p21          object
p22          object
p07          object
CONDACTN      int64
horas       float64
dtype: object

In [77]:
def dim2i1(row):
  ind = False
  if row.p20 == '': row.p20 = -1 
  if row.p21 == '': row.p21 = -1
  if row.p22 == '': row.p22 = -1
  if (int(row.p20)==1 | (int(row.p21) in range(1,12)) | int(row.p22)==1) & (int(row.p03) in range(5,15)):
    ind = True
  if (row.CONDACTN in range(2,7)) & (row.p03 in range(15,18)):
    ind = True
  if (row.CONDACTN ==1) & (row.p03 in range(15,18)) & ((int(row.p07)==2) | (row.horas>30.0)):
    ind = True
  return bool(ind)

In [78]:
dataper['dim2i1'] = dataper.apply(lambda y: dim2i1(y) if (y.p03 in range(5,18)) else False, axis=1)

###<font color='darkblue'>*INDICADOR 2 DESEMPLEO O EMPLEO INADECUADO*

In [79]:
dataper[['p32','p34','p35']].dtypes

p32    object
p34    object
p35    object
dtype: object

In [80]:
def dim2i2(row):
  return bool(row.CONDACTN in range(2,9))

In [81]:
dataper['dim2i2'] = dataper.apply(lambda y: dim2i2(y) if (y.p03 in range(18,99)) else False, axis=1)

###<font color='darkblue'>*INDICADOR 3 NO CONTRIBUCION AL SISTEMA DE PENSIONES*

In [82]:
dataper[['empleo','p05a','p05b','p72a','p75','desem','pein','petn','p77']].dtypes

empleo    object
p05a       int64
p05b       int64
p72a      object
p75       object
desem     object
pein      object
petn      object
p77       object
dtype: object

In [83]:
def dim2i3(row):
  #Personas ocuapadas
  ind = False
  if row.desem == ' ': row.desem = -1 
  if row.pein == ' ': row.pein = -1
  if row.petn == ' ': row.petn = -1
  if row.empleo == '': row.empleo = -1
  if ((int(row.empleo)==1) & (row.p05a in range(5,11)) & (row.p05b in range(5,11))):
    ind = True
  if (int(row.empleo) ==1) & (row.p03>=65) & (int(row.p72a)==1):
    ind = False

  #Personas desocupadas o PEI mayores de 65 años
  if ((int(row.desem) ==1) | (int(row.pein)==1)) & (row.p03>=65) & (int(row.p72a)==2):
    ind = True
  if (row.p03>=65) & (int(row.p72a)== 2) & (int(row.p75)==1):
    ind = False
  if (int(row.petn) ==1) & (int(row.p77)==1):
    ind = False
  if (int(row.petn) ==0):
    ind = False
  return bool(ind)

#replace dim2_ind3 = . if pet ==0 | inrange(p03,0,14)

In [84]:
dataper['dim2i3'] = dataper.apply(lambda y: dim2i3(y) if (y.p03 in range(15,99)) else False, axis=1)

##<b><font color='darkred'>DIMENSION 3 (SALUD AGUA Y ALIMENTACION)

###<font color='darkblue'>*INDICADOR 1 POBREZA EXTREMA POR INGRESOS*

In [85]:
dataper['dim3i1'] = dataper.epobreza.replace(['0'],False).replace(['1'],True).astype(bool)

###<font color='darkblue'>*INDICADOR 2 SIN SERVICIO DE AGUA POR RED PUBLICA* desde aqui se aplica a viv

In [86]:
dataviv.vi10.dtypes

dtype('int64')

In [87]:
def dim3i2(row):
  return bool(row.vi10 != 1)

In [88]:
dataviv['dim3i2'] = dataviv.apply(lambda y: dim3i2(y), axis=1)

##<b><font color='darkred'>DIMENSION 4 (HABITAT VIVIENDA Y AMBIENTE SANO)

###<font color='darkblue'>*INDICADOR 2 DEFICIT HABITACIONAL*

In [89]:
dataviv[['vi03a','vi03b','vi04a','vi04b','vi05a','vi05b']].dtypes

vi03a    int64
vi03b    int64
vi04a    int64
vi04b    int64
vi05a    int64
vi05b    int64
dtype: object

In [90]:
def techo(row):
  techo = None
  if (((row.vi03a==1) & (row.vi03b in range(1,3))) |((row.vi03b==1) & (row.vi03a in range(2,5)))):
    techo = 1
  if (((row.vi03a==1) & (row.vi03b==3)) | (row.vi03b==2) & (row.vi03a in range(2,5))):
    techo =2
  if (((row.vi03b==3) & (row.vi03a in range(2,5))) |((row.vi03a==5) | (row.vi03a==6))):
    techo = 3
  return techo

In [91]:
dataviv['techo'] = dataviv.apply(lambda y: techo(y), axis=1)

In [92]:
def pared(row):
  pared = None
  if (((row.vi05a==1) & (row.vi05b in range(1,3))) |((row.vi05a==2) & (row.vi05b == 1))):
    pared = 1
  if (((row.vi05a==1) & (row.vi05b==3))|((row.vi05a==2) & (row.vi05b==2)) |((row.vi05a in range(3,6)) & (row.vi05b in range(1,3)))):
    pared =2
  if (((row.vi05b==3) & (row.vi05a in range(2,6))) |((row.vi05a==6) | (row.vi05a)==7)):
    pared = 3
  return pared

In [93]:
dataviv['pared'] = dataviv.apply(lambda y: pared(y), axis=1)

In [94]:
def piso(row):
  piso = None
  if (((row.vi04a<=3) & (row.vi04b==1)) |((row.vi04a<=3) & (row.vi04b==2)) |((row.vi04b==1) & (row.vi04a in range(4,6)))):
    piso = 1
  if (((row.vi04a <= 3) & (row.vi04b == 3))|((row.vi04b==2) & (row.vi04a in range(4,6))) |((row.vi04a==6) & (row.vi04b==1))):
    piso =2
  if (((row.vi04b==3) & (row.vi04a in [4,5,6])) |((row.vi04a==6) & (row.vi04b==2)) |((row.vi04a==7) | (row.vi04a==8))):
    piso = 3
  return piso

In [95]:
dataviv['piso'] = dataviv.apply(lambda y: piso(y), axis=1)

In [96]:
#tipos de vivienda 1:aceptable 2:recuperable 3:irrecuperable
def tipviv(row):
  tipviv = None
  if (((row.techo==1) & (row.pared==1) & (row.piso in range(1,4))) 
    |((row.techo==1) & (row.pared==2) & (row.piso==1))):
    tipviv = 1
  if (((row.techo==1) & (row.pared==2) & (row.piso in range(2,4))) 
    | ((row.techo==1) & (row.pared==3) & (row.piso in range(1,3)))
    | ((row.techo==2) & (row.pared==1) & (row.piso in range(1,3)))
    | ((row.techo==2) & (row.pared==2) & (row.piso in range(1,3)))
    | ((row.techo==3) & (row.pared==1) & (row.piso in range(1,3))) 
    | ((row.techo==3) & (row.pared==2) & (row.piso==1))):
    tipviv = 2
  if (((row.techo==1) & (row.pared==3) & (row.piso==3)) 
    | ((row.techo==2) & (row.pared==1) & (row.piso == 3))
    | ((row.techo==2) & (row.pared==2) & (row.piso == 3))
    | ((row.techo==2) & (row.pared==3) & (row.piso in range(1,4)))
    | ((row.techo==3) & (row.pared==1) & (row.piso == 3)) 
    | ((row.techo==3) & (row.pared==2) & (row.piso in range(1,4)))
    | ((row.techo==3) & (row.pared==3) & (row.piso in range(1,4)))):
    tipviv = 3
  return tipviv

In [97]:
dataviv['tipviv'] = dataviv.apply(lambda y: tipviv(y), axis=1)

In [98]:
def dim4i2(row):
  return bool((row.tipviv==3) | (row.tipviv==2))

In [99]:
dataviv['dim4i2'] = dataviv.apply(lambda y: dim4i2(y), axis=1)

###<font color='darkblue'>*INDICADOR 3 SIN SERVICIO EXCRETAS*

In [100]:
dataviv[['area','vi09']].dtypes

area    int64
vi09    int64
dtype: object

In [101]:
def dim4i3(row):
  return bool(((row.area==1) & (row.vi09 in range(2,5))) | ((row.area==2) & (row.vi09 in range(3,5))))

In [102]:
dataviv['dim4i3'] = dataviv.apply(lambda y: dim4i3(y), axis=1)

###<font color='darkblue'>*INDICADOR 4 SIN SERVICIO DE RECOLECCION DE BASURA*

In [103]:
dataviv.vi13.dtypes

dtype('int64')

In [104]:
def dim4i4(row):
  return bool(row.vi13 in [1,3,4,5])

In [105]:
dataviv['dim4i4'] = dataviv.apply(lambda y: dim4i4(y), axis=1)

###<font color='darkblue'>*INDICADOR 1 HACINAMIENTO (AQUI ES NECESARIO EL MERGE)*

In [106]:
#RECORDAR QUE TODOS LOS HOGARES TIENEN AL MENOS 1 CUARTO
print(f'datos en per: {dataper.shape[0]}, datos en viv: {dataviv.shape[0]}')

datos en per: 101359, datos en viv: 30023

In [107]:
df = dataper.merge(dataviv, on=['area','ciudad','zona','sector','panelm','vivienda','hogar','plan_muestreo','idh'], how='left')

In [108]:
df['hsize'] = df.groupby('idh')['idp'].transform('count')

In [109]:
df[df.hsize == 17] #????

,area,ciudad,conglomerado_x,zona,sector,panelm,vivienda,hogar,p01,p02,...,fexp_y,dim3i2,techo,pared,piso,tipviv,dim4i2,dim4i3,dim4i4,hsize
70084,2,150153,999999,999,17,123,1,1,1,1,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70085,2,150153,999999,999,17,123,1,1,2,2,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70086,2,150153,999999,999,17,123,1,1,3,2,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70087,2,150153,999999,999,17,123,1,1,4,1,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70088,2,150153,999999,999,17,123,1,1,5,1,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70089,2,150153,999999,999,17,123,1,1,6,1,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70090,2,150153,999999,999,17,123,1,1,7,1,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70091,2,150153,999999,999,17,123,1,1,8,2,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70092,2,150153,999999,999,17,123,1,1,9,1,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70093,2,150153,999999,999,17,123,1,1,10,2,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70094,2,150153,999999,999,17,123,1,1,11,2,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70095,2,150153,999999,999,17,123,1,1,12,1,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70096,2,150153,999999,999,17,123,1,1,13,1,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70097,2,150153,999999,999,17,123,1,1,14,2,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70098,2,150153,999999,999,17,123,1,1,15,2,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70099,2,150153,999999,999,17,123,1,1,16,1,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
70100,2,150153,999999,999,17,123,1,1,17,2,...,"17,1098022552027",True,2,2,2,2,True,False,True,17
72957,1,160150,999999,8,8,13,3,1,1,1,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72958,1,160150,999999,8,8,13,3,1,2,2,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72959,1,160150,999999,8,8,13,3,1,3,1,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72960,1,160150,999999,8,8,13,3,1,4,1,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72961,1,160150,999999,8,8,13,3,1,5,1,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72962,1,160150,999999,8,8,13,3,1,6,2,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72963,1,160150,999999,8,8,13,3,1,7,1,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72964,1,160150,999999,8,8,13,3,1,8,2,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72965,1,160150,999999,8,8,13,3,1,9,1,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72966,1,160150,999999,8,8,13,3,1,10,1,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72967,1,160150,999999,8,8,13,3,1,11,2,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72968,1,160150,999999,8,8,13,3,1,12,1,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72969,1,160150,999999,8,8,13,3,1,13,2,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72970,1,160150,999999,8,8,13,3,1,14,1,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72971,1,160150,999999,8,8,13,3,1,15,2,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72972,1,160150,999999,8,8,13,3,1,16,1,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
72973,1,160150,999999,8,8,13,3,1,17,2,...,"88,0473441348032",True,3,3,3,3,True,False,True,17
74610,1,160252,999999,1,1,123,2,1,1,1,...,"23,0581879345273",False,1,1,2,1,False,False,True,17
74611,1,160252,999999,1,1,123,2,1,2,2,...,"23,0581879345273",False,1,1,2,1,False,False,True,17
74612,1,160252,999999,1,1,123,2,1,3,1,...,"23,0581879345273",False,1,1,2,1,False,False,True,17
74613,1,160252,999999,1,1,123,2,1,4,2,...,"23,0581879345273",False,1,1,2,1,False,False,True,17
74614,1,160252,999999,1,1,123,2,1,5,1,...,"23,0581879345273",False,1,1,2,1,False,False,True,17
74838,1,160252,999999,1,11,23,2,1,1,2,...,"14,6962146361577",False,1,1,1,1,False,False,False,17
74839,1,160252,999999,1,11,23,2,1,2,2,...,"14,6962146361577",False,1,1,1,1,False,False,False,17
74840,1,160252,999999,1,11,23,2,1,3,2,...,"14,6962146361577",False,1,1,1,1,False,False,False,17
74841,1,160252,999999,1,11,23,2,1,4,1,...,"14,6962146361577",False,1,1,1,1,False,False,False,17
74842,1,160252,999999,1,11,23,2,1,5,1,...,"14,6962146361577",False,1,1,1,1,False,False,False,17
74843,1,160252,999999,1,11,23,2,1,6,1,...,"14,6962146361577",False,1,1,1,1,False,False,False,17
74844,1,160252,999999,1,11,23,2,1,7,1,...,"14,6962146361577",False,1,1,1,1,False,False,False,17
74845,1,160252,999999,1,11,23,2,1,8,2,...,"14,6962146361577",False,1,1,1,1,False,False,False,17
74846,1,160252,999999,1,11,23,2,1,9,2,...,"14,6962146361577",False,1,1,1,1,False,False,False,17
74847,1,160252,999999,1,11,23,2,1,10,2,...,"14,6962146361577",False,1,1,1,1,False,False,False,17
74848,1,160252,999999,1,11,23,2,1,11,2,...,"14,6962146361577",False,1,1,1,1,False,False,False,17
74849,1,160252,999999,1,11,23,2,1,12,1,...,"14,6962146361577",False,1,1,1,1,False,False,False,17

In [110]:
df.vi07.dtypes

dtype('int64')

In [111]:
def dim4i1(row):
  return bool((row.hsize/row.vi07) > 3)

In [112]:
df['dim4i1'] = df.apply(lambda y: dim4i1(y), axis=1)

##<b><font color='darkred'>HERENCIA DE PRIVACIONES

In [113]:
df.shape[0]

101507

In [114]:
[i for i in (list(df.columns)) if i.startswith]

['area',
 'ciudad',
 'conglomerado_x',
 'zona',
 'sector',
 'panelm',
 'vivienda',
 'hogar',
 'p01',
 'p02',
 'p03',
 'p04',
 'p05a',
 'p05b',
 'p06',
 'p07',
 'p08',
 'p09',
 'p10a',
 'p10b',
 'p11',
 'p12a',
 'p12b',
 'p13',
 'p14',
 'p15',
 'p15aa',
 'p15ab',
 'p16a',
 'p16b',
 'p17a',
 'p17b',
 'p18',
 'p19a',
 'p19b',
 'cod_inf',
 'p20',
 'p21',
 'p22',
 'p23',
 'p24',
 'p25',
 'p26',
 'p27',
 'p28',
 'p29',
 'p30',
 'p31',
 'p32',
 'p33',
 'p34',
 'p35',
 'p36',
 'p37',
 'p38',
 'p39',
 'p40',
 'p41',
 'p42',
 'p42a',
 'p43',
 'p44a',
 'p44b',
 'p44c',
 'p44d',
 'p44e',
 'p44f',
 'p44g',
 'p44h',
 'p44i',
 'p44j',
 'p44k',
 'p45',
 'p46',
 'p47a',
 'p47b',
 'p48',
 'p49',
 'p50',
 'p51a',
 'p51b',
 'p51c',
 'p52',
 'p53',
 'p54',
 'p54a',
 'p55',
 'p56a',
 'p56b',
 'p57',
 'p58',
 'p59',
 'p60a',
 'p60b',
 'p60c',
 'p60d',
 'p60e',
 'p60f',
 'p60g',
 'p60h',
 'p60i',
 'p60j',
 'p60k',
 'p61a11',
 'p61a12',
 'p61a13',
 'p61a2',
 'p61a31',
 'p61a32',
 'p61a33',
 'p61a34',
 'p61a4',
 'p61a5',
 'p61a61',
 'p61a62',
 'p61a7',
 'p61a8',
 'p61a91',
 'p61a92',
 'p61a101',
 'p61a102',
 'p61a103',
 'p61a111',
 'p61a112',
 'p61a113',
 'p61b1',
 'p63',
 'p64a',
 'p64b',
 'p65',
 'p66',
 'p67',
 'p68a',
 'p68b',
 'p69',
 'p70a',
 'p70b',
 'p71a',
 'p71b',
 'p72a',
 'p72b',
 'p73a',
 'p73b',
 'p74a',
 'p74b',
 'p75',
 'p76',
 'p77',
 'p78',
 'p79',
 'p79a1',
 'p79b1',
 'p79a2',
 'p79b2',
 'ingrl',
 'sd01',
 'sd021',
 'sd022',
 'sd023',
 'sd024',
 'sd025',
 'sd026',
 'sd027',
 'sd028',
 'sd029',
 'sd0210',
 'sd0211',
 'sd03',
 'pe01',
 'pe02a',
 'pe02b',
 'pe03a1',
 'pe03a2',
 'pe03a3',
 'pe03a4',
 'pe03a5',
 'pe03',
 'pe04',
 'pe05a',
 'pe05b',
 'pe06',
 'pe07',
 'pe08',
 'pe09a',
 'pe09b',
 'pia01a',
 'pia01b',
 'pia02',
 'pia03',
 'ps01',
 'ps02a',
 'ps02b',
 'ps02c',
 'ps03',
 'ps03a',
 'ps04a',
 'ps04b',
 'ps04c',
 'ps05',
 'ps05a',
 'ps05b',
 'ps06',
 'ps06a',
 'ps06b',
 'ps07aa',
 'ps07ab',
 'ps07',
 'ps07a',
 'ps07b',
 'ps08',
 'ps08a',
 'ps08b',
 'ps09',
 'ps09a',
 'ps09b',
 'ps10',
 'ps10a',
 'ps10b',
 'ps11',
 'ps11a',
 'ps12',
 'ps12a',
 'pt01a',
 'pt01b',
 'pt1a',
 'pt1b1',
 'pt1b2',
 'pt1b3',
 'pt1b4',
 'pt1b5',
 'pt1b6',
 'pt02',
 'pt03',
 'pt04a',
 'pt04b',
 'pt04c',
 'pt05',
 'pt06a',
 'pt06b',
 'pt06c',
 'pt06d',
 'pt07',
 'pt08',
 'seg011',
 'seg012',
 'seg013',
 'seg014',
 'seg015',
 'seg016',
 'seg017',
 'seg018',
 'seg019',
 'seg0110',
 'seg02',
 'seg03',
 'seg041',
 'seg042',
 'seg043',
 'seg044',
 'seg045',
 'seg046',
 'seg047',
 'seg048',
 'seg05',
 'seg06',
 'seg07',
 'seg08',
 'seg091',
 'seg092',
 'seg093',
 'seg101',
 'seg102',
 'seg103',
 'seg104',
 'seg111',
 'seg112',
 'seg113',
 'seg121',
 'seg122',
 'seg123',
 'ced01a',
 'plan_muestreo',
 'fexp_x',
 'SECEMP',
 'formal',
 'informal',
 'empdom',
 'nocla',
 'grupo1',
 'rama1',
 'ciud5',
 'id_sector',
 'ingpc',
 'pobreza',
 'epobreza',
 't_a',
 'CONDACTN',
 'petn',
 'pean',
 'empleo',
 'adec',
 'sub',
 'sub_h',
 'sub_w',
 'oinad',
 'nr',
 'nc',
 'desem',
 'desemab',
 'desemoc',
 'desem1',
 'desem2',
 'pein',
 'idp',
 'idh',
 'miss',
 'horas',
 'asist_basic',
 'asist_bach',
 'dim1i1',
 'dim1i2',
 'escol',
 'dim1i3',
 'dim2i1',
 'dim2i2',
 'dim2i3',
 'dim3i1',
 'conglomerado_y',
 'vi01',
 'vi02',
 'vi03a',
 'vi03b',
 'vi04a',
 'vi04b',
 'vi05a',
 'vi05b',
 'vi06',
 'vi07',
 'vi07a1',
 'vi07a2',
 'vi08',
 'vi08a',
 'vi08b',
 'vi09',
 'vi10',
 'vi11',
 'vi12',
 'vi13',
 'vi13a',
 'vi13b',
 'vi13c',
 'vi13d',
 'vi14',
 'vi15',
 'vi16',
 'vi16a',
 'vi16b',
 'vi16c',
 'vi16d',
 'vi17',
 'vi18',
 'vi19a',
 'vi19b',
 'vi20a',
 'vi20b',
 'eq0101',
 'eq0102',
 'eq0201',
 'eq0202',
 'eq0301',
 'eq0302',
 'eq0401',
 'eq0402',
 'eq0501',
 'eq0502',
 'eq0601',
 'eq0602',
 'eq0701',
 'eq0702',
 'eq0801',
 'eq0802',
 'eq0901',
 'eq0902',
 'eq1001',
 'eq1002',
 'eq1101',
 'eq1102',
 'eq1201',
 'eq1202',
 'eq1301',
 'eq1302',
 'eq1401',
 'eq1402',
 'eq1501',
 'eq1502',
 'eq1601',
 'eq1602',
 'eq1701',
 'eq1702',
 'eq1801',
 'eq1802',
 'eq1901',
 'eq1902',
 'vi22',
 'vi23',
 'vi24',
 'vi25',
 'fexp_y',
 'dim3i2',
 'techo',
 'pared',
 'piso',
 'tipviv',
 'dim4i2',
 'dim4i3',
 'dim4i4',
 'hsize',
 'dim4i1']

In [115]:
df[['dim1i1',
 'dim1i2',
 'dim1i3',
 'dim2i1',
 'dim2i2',
 'dim2i3',
 'dim3i1',
 'dim3i2',
 'dim4i2',
 'dim4i3',
 'dim4i4',
 'dim4i1']] = df[['dim1i1',
 'dim1i2',
 'dim1i3',
 'dim2i1',
 'dim2i2',
 'dim2i3',
 'dim3i1',
 'dim3i2',
 'dim4i2',
 'dim4i3',
 'dim4i4',
 'dim4i1']].replace(True, 1).replace(False,0)

In [116]:
df['dim1i1h'] = df.groupby('idh')['dim1i1'].transform('max')
df['dim1i2h'] = df.groupby('idh')['dim1i2'].transform('max')
df['dim1i3h'] = df.groupby('idh')['dim1i3'].transform('max')
df['dim2i1h'] = df.groupby('idh')['dim2i1'].transform('max')
df['dim2i2h'] = df.groupby('idh')['dim2i2'].transform('max')
df['dim2i3h'] = df.groupby('idh')['dim2i3'].transform('max')
df['dim3i1h'] = df.groupby('idh')['dim3i1'].transform('max')
df['dim3i2h'] = df.groupby('idh')['dim3i2'].transform('max')
df['dim4i1h'] = df.groupby('idh')['dim4i1'].transform('max')
df['dim4i2h'] = df.groupby('idh')['dim4i2'].transform('max')
df['dim4i3h'] = df.groupby('idh')['dim4i3'].transform('max')
df['dim4i4h'] = df.groupby('idh')['dim4i4'].transform('max')

#<u><b>INDICE DE POBREZA MULTIDIMENSIONAL

##<b><font color='darkred'>ESTRUCTURA DE PONDERACION

In [117]:
def ci(row):
  return ((row.dim1i1h * 1/4 * 1/3)
          + (row.dim1i2h * 1/4 * 1/3)
          + (row.dim1i3h * 1/4 * 1/3)
          + (row.dim2i1h * 1/4 * 1/3)
          + (row.dim2i2h * 1/4 * 1/3)
          + (row.dim2i3h * 1/4 * 1/3)
          + (row.dim3i1h * 1/4 * 1/2)
          + (row.dim3i2h * 1/4 * 1/2)
          + (row.dim4i1h * 1/4 * 1/4)
          + (row.dim4i2h * 1/4 * 1/4)
          + (row.dim4i3h * 1/4 * 1/4)
          + (row.dim4i4h * 1/4 * 1/4))

In [118]:
df['ci'] = df.apply(lambda y: ci(y), axis=1)

In [119]:
df.ci.unique()

array([0.20833333, 0.0625    , 0.375     , 0.22916667, 0.14583333,
       0.08333333, 0.58333333, 0.125     , 0.4375    , 0.29166667,
       0.39583333, 0.3125    , 0.25      , 0.35416667, 0.45833333,
       0.27083333, 0.5       , 0.16666667, 0.33333333, 0.41666667,
       0.1875    , 0.625     , 0.5625    , 0.70833333, 0.52083333,
       0.        , 0.47916667, 0.85416667, 0.64583333, 0.54166667,
       0.60416667, 0.77083333, 0.66666667, 0.6875    , 0.72916667,
       0.91666667, 0.83333333, 0.79166667, 0.75      ])

##<b><font color='darkred'>CALCULO FINAL

In [120]:
df['TPM'] = df.apply(lambda y: True if (y.ci >= 4/12) else False, axis=1)

In [121]:
df['IPM'] = df.apply(lambda y: y.ci if (y.TPM) else 0, axis=1)

In [122]:
df["IPM"].mean()

0.14438782547016463

In [123]:
np.average(df["IPM"],weights=df["fexp_x"],returned=True)

(0.13344601429084796, 15449567.954157097)

In [124]:
#media de ponderaciones totales sin IPM cambiada
df.groupby('idh')[['ci']].mean()[['ci']]['ci'].mean()

0.25876743356195037

In [125]:
ipm = df[df.IPM > 0].groupby('idh')[['IPM']].mean()[['IPM']]['IPM'].mean()

In [126]:
print(f'El indice de pobreza multidimensional general 2017-06 es {ipm}')

El indice de pobreza multidimensional general 2017-06 es 0.4374039938556068

In [127]:
df["ci"].mean()

0.29105936043819636

In [137]:
dff=df.loc[df["IPM"]>0,:]

In [143]:
dff["IPM"].mean()

0.45171592800345184

In [139]:
np.average(df["IPM"],weights=df["fexp_x"],returned=True)

(0.13344601429084796, 15449567.954157097)

In [141]:
np.average(dff["IPM"],weights=dff["fexp_x"],returned=True)

(0.44452494568013323, 4637947.287397904)

In [129]:
df["IPM"].mean()

0.14438782547016463

In [130]:
df

,area,ciudad,conglomerado_x,zona,sector,panelm,vivienda,hogar,p01,p02,...,dim2i3h,dim3i1h,dim3i2h,dim4i1h,dim4i2h,dim4i3h,dim4i4h,ci,TPM,IPM
0,1,10150,999999,1,3,13,2,1,1,2,...,0,0,0,0,1,0,1,0.208333,False,0.000000
1,1,10150,999999,1,3,13,2,1,2,1,...,0,0,0,0,1,0,1,0.208333,False,0.000000
2,1,10150,999999,1,3,13,2,1,3,2,...,0,0,0,0,1,0,1,0.208333,False,0.000000
3,1,10150,999999,1,3,13,3,1,1,1,...,0,0,0,0,0,0,1,0.062500,False,0.000000
4,1,10150,999999,1,3,13,3,1,2,2,...,0,0,0,0,0,0,1,0.062500,False,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101502,2,900451,999999,999,7,123,2,2,2,2,...,1,0,0,1,1,0,1,0.354167,True,0.354167
101503,2,900451,999999,999,7,123,2,2,3,2,...,1,0,0,1,1,0,1,0.354167,True,0.354167
101504,2,900451,999999,999,7,123,2,2,4,1,...,1,0,0,1,1,0,1,0.354167,True,0.354167
101505,2,900451,999999,999,7,123,3,1,1,1,...,1,0,1,0,1,0,0,0.354167,True,0.354167
101506,2,900451,999999,999,7,123,3,1,2,2,...,1,0,1,0,1,0,0,0.354167,True,0.354167

In [131]:
df["id_hogar"] = df["ciudad"].astype(str).str.zfill(6) + df["zona"].astype(str).str.zfill(3) + df["sector"].astype(str).str.zfill(3)

In [132]:
sdf = gpd.read_file("sectors_inec.geojson")
dfm = gpd.GeoDataFrame(df.merge(sdf,left_on="id_hogar",right_on="DPA_SECTOR", how="inner"))
mdf = gpd.read_file('../CARDIFF/data/neigh/map.geojson', encoding='utf-8')

In [133]:
dfm.crs = mdf.crs
gdfr = gpd.sjoin(dfm,mdf,how="inner", op='intersects')

c:\users\eduardo\appdata\local\programs\python\python37\lib\site-packages\numpy\lib\function_base.py:2246: RuntimeWarning: invalid value encountered in find_intersects (vectorized)
  outputs = ufunc(*inputs)

In [134]:
gdfr["ingpc"] = gdfr["ingpc"].str.replace(",",".").astype(float)

In [135]:
np.average(gdfr[gdfr["Name"]=="Isla Trinitaria"]["ci"],weights=gdfr[gdfr["Name"]=="Isla Trinitaria"]["fexp_x"])

0.3153595626603433